### data import

In [8]:
import pandas as pd

In [282]:
data  = pd.read_csv('data.csv')
data.head(3)

,title,price_in_aed,kilometers,body_condition,mechanical_condition,seller_type,body_type,no_of_cylinders,transmission_type,regional_specs,horsepower,fuel_type,steering_side,year,color,emirate,motors_trim,company,model,date_posted
0,MITSUBISHI PAJERO 3.5L / 2013,"26,000",167390,Perfect inside and out,Perfect inside and out,Dealer,SUV,6,Automatic Transmission,GCC Specs,Unknown,Gasoline,Left Hand Side,2013.0,Silver,Dubai,GLS,mitsubishi,pajero,13/05/2022
1,chevrolet silverado,"110,000",39000,Perfect inside and out,Perfect inside and out,Dealer,SUV,8,Automatic Transmission,North American Specs,400 - 500 HP,Gasoline,Left Hand Side,2018.0,White,Sharjah,1500 High Country,chevrolet,silverado,14/01/2022
2,MERCEDES-BENZ E300 - 2014 - GCC SPEC - FULL OP...,"78,000",200000,Perfect inside and out,Perfect inside and out,Dealer,Sedan,6,Automatic Transmission,GCC Specs,400 - 500 HP,Gasoline,Left Hand Side,2014.0,Blue,Sharjah,E 300,mercedes-benz,e-class,05/05/2022

In [283]:
data.model.value_counts()

patrol               399
s-class              269
g-class              259
range-rover-sport    208
land-cruiser         200
                    ...
g80                    1
plus-8                 1
lc-500                 1
tx5                    1
odyssey-j              1
Name: model, Length: 552, dtype: int64

In [527]:
# company , body condition, mechanical condition, cylinder nun, transmission type, model, year, hourspwer

In [285]:
data.columns

Index(['title', 'price_in_aed', 'kilometers', 'body_condition',
       'mechanical_condition', 'seller_type', 'body_type', 'no_of_cylinders',
       'transmission_type', 'regional_specs', 'horsepower', 'fuel_type',
       'steering_side', 'year', 'color', 'emirate', 'motors_trim', 'company',
       'model', 'date_posted'],
      dtype='object')

In [286]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9970 entries, 0 to 9969
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 9965 non-null   object
 1   price_in_aed          9970 non-null   object
 2   kilometers            9970 non-null   int64
 3   body_condition        9970 non-null   object
 4   mechanical_condition  9970 non-null   object
 5   seller_type           9970 non-null   object
 6   body_type             9970 non-null   object
 7   no_of_cylinders       9911 non-null   object
 8   transmission_type     9970 non-null   object
 9   regional_specs        9970 non-null   object
 10  horsepower            9970 non-null   object
 11  fuel_type             9970 non-null   object
 12  steering_side         9970 non-null   object
 13  year                  9000 non-null   float64
 14  color                 9970 non-null   object
 15  emirate               9970 non-null   object
 16  motors_trim           9942 non-null   object
 17  company               9970 non-null   object
 18  model                 9970 non-null   object
 19  date_posted           9970 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.5+ MB

In [287]:
print("dublicate : ", data.duplicated().sum())

dublicate :  282

In [288]:
data.columns

Index(['title', 'price_in_aed', 'kilometers', 'body_condition',
       'mechanical_condition', 'seller_type', 'body_type', 'no_of_cylinders',
       'transmission_type', 'regional_specs', 'horsepower', 'fuel_type',
       'steering_side', 'year', 'color', 'emirate', 'motors_trim', 'company',
       'model', 'date_posted'],
      dtype='object')

### Data cleanning..

In [289]:
# car_title , body condition, mechanical condition, cylinder nun, transmission type, model, year, hourspwer

In [528]:
# droping_columns.. 
reduce_data = data[['company', 'price_in_aed', 'body_condition', 'mechanical_condition', 'no_of_cylinders', 'transmission_type', 'model', 'year' , 'horsepower']]
reduce_data.head(3)

,company,price_in_aed,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,mitsubishi,"26,000",Perfect inside and out,Perfect inside and out,6,Automatic Transmission,pajero,2013.0,Unknown
1,chevrolet,"110,000",Perfect inside and out,Perfect inside and out,8,Automatic Transmission,silverado,2018.0,400 - 500 HP
2,mercedes-benz,"78,000",Perfect inside and out,Perfect inside and out,6,Automatic Transmission,e-class,2014.0,400 - 500 HP

In [529]:
reduce_data.duplicated().sum()

760

In [530]:
dup_data  = reduce_data.drop_duplicates()
print('duplicate count:' , dup_data.duplicated().sum())
dup_data.head(2)

duplicate count: 0

,company,price_in_aed,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,mitsubishi,"26,000",Perfect inside and out,Perfect inside and out,6,Automatic Transmission,pajero,2013.0,Unknown
1,chevrolet,"110,000",Perfect inside and out,Perfect inside and out,8,Automatic Transmission,silverado,2018.0,400 - 500 HP

In [531]:
dup_data.isnull().sum()

company                   0
price_in_aed              0
body_condition            0
mechanical_condition      0
no_of_cylinders          51
transmission_type         0
model                     0
year                    810
horsepower                0
dtype: int64

In [532]:
for col in dup_data.columns:
    dup_data = dup_data[dup_data[col].isnull() == False ]

In [533]:
dup_data.shape

(8376, 9)

In [534]:
clean_data = dup_data
clean_data.head(3)

,company,price_in_aed,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,mitsubishi,"26,000",Perfect inside and out,Perfect inside and out,6,Automatic Transmission,pajero,2013.0,Unknown
1,chevrolet,"110,000",Perfect inside and out,Perfect inside and out,8,Automatic Transmission,silverado,2018.0,400 - 500 HP
2,mercedes-benz,"78,000",Perfect inside and out,Perfect inside and out,6,Automatic Transmission,e-class,2014.0,400 - 500 HP

In [535]:
for col in clean_data.columns: 
    unique = clean_data[col].unique()
    print('======================================================')
    print(' ================== ', col , ' ==========================')
    print('=======================================================')
    print(col , ' : ', unique )

======================================================
 ==================  company  ==========================
=======================================================
company  :  ['mitsubishi' 'chevrolet' 'mercedes-benz' 'ferrari' 'renault' 'audi'
 'jeep' 'nissan' 'ford' 'maserati' 'alfa-romeo' 'toyota' 'bmw' 'hyundai'
 'cadillac' 'bentley' 'lincoln' 'porsche' 'gmc' 'lexus' 'dodge'
 'land-rover' 'infiniti' 'rolls-royce' 'aston-martin' 'mazda' 'volkswagen'
 'fiat' 'kia' 'mini' 'honda' 'genesis' 'jaguar' 'volvo' 'peugeot' 'suzuki'
 'lamborghini' 'hummer' 'lotus' 'mclaren' 'chrysler' 'opel' 'tesla'
 'maybach' 'subaru' 'isuzu' 'geely' 'baic' 'acura' 'gac' 'foton' 'rover'
 'mercedes-maybach' 'other-make' 'morgan' 'buick' 'jac' 'mg' 'mercury'
 'changan' 'smart' 'skoda' 'saab' 'westfield-sportscars' 'ssang-yong'
 'daihatsu' 'dongfeng' 'maxus']
======================================================
 ==================  price_in_aed  ==========================
=======================================================
price_in_aed  :  ['26,000' '110,000' '78,000' ... '31,800' '24,999' '77,700']
======================================================
 ==================  body_condition  ==========================
=======================================================
body_condition  :  ['Perfect inside and out' 'Normal wear & tear, a few issues'
 'A bit of wear & tear, all repaired' 'No accidents, very few faults']
======================================================
 ==================  mechanical_condition  ==========================
=======================================================
mechanical_condition  :  ['Perfect inside and out' 'Minor faults, all fixed'
 'Major faults fixed, small remain' 'Ongoing minor & major faults'
 'Major faults, all fixed']
======================================================
 ==================  no_of_cylinders  ==========================
=======================================================
no_of_cylinders  :  ['6' '8' '4' '12' 'None' 'Unknown' '3' '10' '5']
======================================================
 ==================  transmission_type  ==========================
=======================================================
transmission_type  :  ['Automatic Transmission' 'Manual Transmission']
======================================================
 ==================  model  ==========================
=======================================================
model  :  ['pajero' 'silverado' 'e-class' '488-spider' 'dokker' 'a7'
 'grand-cherokee' 'quest' 's8' 'g-class' 'cls-class' 'edge' 'granturismo'
 'a6' 'giulietta' 'avanza' '6-series' 'palisade' 'xt5' 'continental-gt'
 'giulia' 'cl-class' 'santa-fe' 'mustang' 's-class-coupe' 'mkt'
 '458-italia' 'cla' 'patrol' 'traverse' 'carrera' 'm5' 'yukon' 'ls-series'
 'camaro' 'captur' 'gx-series' 'camry' 'x5' 'durango' 'defender'
 'land-cruiser' 'glc' 's-class' 'q70' 'gt' 'previa' 'kicks' 'tahoe'
 'aurion' 'tiida' 'taurus' 'genesis' 'armada' 'ghost' '8-series' 'x6'
 'ghibli' 'db9' 'rav-4' 'cx-5' 'cayenne' 'hilux' 'navara' '5-series'
 'f-series-pickup' 'phantom' 'q7' 'q80' 'c-class' 'xterra' '7-series'
 'escalade' 'prado' 'gls-class' '3-series' 'passat' 'focus' '500x' 'ats'
 'explorer' 'cerato' 'countryman' 'levante' 'rogue' 'slk-class'
 'gle-coupe' 'accord' 'cr-v' 'sentra' 'altima' 'f430'
 'land-cruiser-76-series' 'a-class' 'corvette' 'gle-class' 'lumina'
 'range-rover' 'veloster' 'a8' 'fortuner' 'other' 'gv80' 'navigator'
 'cullinan' 'scaglietti' 'range-rover-sport' 'wrangler-unlimited' 'bronco'
 'escape' 'sl-class' 'vanquish' 'xe' 'm-class' 'is-series' 'xc60'
 'ctscatera' 'sunny' 'x-trail' 'f-type' 'pilot' 'expedition' '207'
 '2-series' 'wrangler' 'x1' 'sonata' 'baleno' 'vantage' 'attrage' 'mohave'
 'civic' 'urus' 'cherokee' 'sierra' 's3rs3' 'elantra' 'terrain' 'golfr'
 'k5' 'xj-series' 'challenger' 'q5' 'rush' 'range-rover-velar' 'panamera'
 'boxster' 'impala' 'rx-series' 'yaris' 'gl-class' 'acadia' 'm4' 'ram'
 'optima' 'continental' '4-series' 'r8' 'x4' 'charger' 'ux-200' 'g90'
 'fj-cruiser' 'lancer' 'gs-series' 'california-t' 'scion' 'bentayga'
 'fiat-500' 'cayman' 'cooper' '6' 'h3' 'lr4' 'sequoia'
 'range-rover-evoque' 'tucson' 'sprinter' 'xf' 'wraith' 'sorento' 'qx60'
 'maxima' 'hiace' 'l200' 'gladiator' 'teramont' 'f12' 'q8' 'duster'
 'suburban' 'dbs' 'evora' 'compass' 'partner' 'micra' '1-series'
 'ecosport' 'aveo' 'odyssey' 'glb' 'juke' 'f8-tributo' 'mkx' 'stelvio'
 'srx' 'koleos' 'c-class-coupe' 's7rs7' 'pickup' 'gtc4-lusso' '86'
 'amg-gt-4-doors' 'sportage' '720s' 'ranger' 'quattroporte' 'q30'
 '300m300c' 'supra' 'f-pace' 'malibu' 'huracan' 'astra' 'model-s' 'qx50'
 'murano' 'h1' 'xc90' 'portofino' 'corolla' 'i10' 'van' 'rio' 'cx-9'
 'cruze' 'pathfinder' '370z' 'sienna' '3' 'tt' '5008' 'xk' 'silver-spur'
 'macan' 'gla' 'dart' 'beetle' 'ff' 's2000' 'zelas' 'gseries' 'tiguan'
 'x2' 'city' 'q50' 'fx50' 'corolla-cross' 'qx70' 'es-series' 'lx-series'
 'tundra' '488-gtb' 'asx' '280zx' 'symbol' 'v-class' '488' 'outlander'
 'insignia' '5045' 'jetta' 'jimny' 'flex' 'xt4' 'c43' 'viano' 'cadenza'
 'slc' 'captiva' 'trax' 'elva' 'a4' 'sls' 'z4' '308' 'megane' 'db11'
 'e-class-coupe' 'q3' 'aventador' 'h2' 'fx45fx35' 'montero-sport' 'ct5'
 'discovery' 'model-3' 'e-pace' 'blazer' 'caddy' 'rs6' 'brz' 'magnum'
 'expert' 'mkz' 'figo' 'touareg' 'fluence' 'dawn' 'twizy' 'senna'
 'sf90-stradale' 'titan' 'emgrand-8' 'carnival' 'kizashi' 'highlander'
 'is-f' 'a5' 'bj40l' 'hr-v' 'discovery-sport' 'nautilus' 'dbx' 'm2'
 'fiesta' 'xkr' '675lt' 'jazz' 'mseries' 'gti' 'lc-500' 'nx-200t'
 'pacifica' 'lr2' '4-runner' 'q60' '458-spider' 'kona' 'rdx' 'accent' 'x7'
 'is-c' 'f8-tributo-spider' 'glc-63' 'rc' 'gs7' 'stinger'
 'continental-flying-spur' 'amg' '57' 'aviator' '570gt' 'avanti'
 'emgrand-gt' 'telluride' 'trailblazer' 'cavalier' 'swift' 'equinox'
 'optra' 's5rs5' 'qx56' 'ct4' 'innova' 'mp412c' 'golf' 'model-x' 'mkc'
 '2008' 'ex35' 'a1' 'roma' 'other-4x4' 'tacoma' 'scirocco' 'fusion' 'z8'
 'plus-8' 'spark' 'slr' 'jxseries' 'avalon' 'mirage' '812-superfast' '508'
 'x3' 'pajero-sport' 'city-bus' 'soul' '458' '3008' 'ertiga' '599'
 'shelby-cobra' 'a3' 'versa' 'california' 'crown' 'clubman' 'clio' 'rx8'
 's-type' 'grand-marquis' 'm8' 'wrx' 'm6' 'xj6' 'arteon' 'taycan' 'ct6'
 '300zx' 'quoris' 'renegade' 'gs4' '812-gts' 'a200' 'hs' 'cc'
 'grand-santa-fe' 'other-utility' '4c' 's4rs4' 'pt-cruiser' 'aero-8'
 'barchetta' 'savana' '650s' '570s' 'centennial' 'gallardo' 'cs75'
 'r-class' 'gt-r' 'xts' 'mulsanne' 'creta' '208' 'forester' 'xk8' 'lr3'
 '599gtb' '124-spider' 'ga3' 'caprice' 'sedona' 'nx-300' 'cs95' 'rcz'
 'patrol-pickup' 'x-class' 'g80' 'm3' 'legacy' 'crosstour' 'canter' 'xc40'
 'heavy-vehicles' 'g25' '355' 'multivan' 'koup' 'e-tron' 'fabia' 'glk'
 '206cc' 'cx-3' 'caravan' 'mks' 'id4' 'journey' 'grand-vitara' 'rapide'
 '09-Mar' 'gc6' 'p1' 'special-edition' '300350380' 'town-car' 'eclipse'
 'express' 'm850i' 'eos' '308-gt-lne' 'veracruz' 'trooper' '200cev200'
 'clc' 'azera' 'mini-coupe' 'evolution' 'gran-max' 'mg5' '301' 'zafira'
 'octavia' 'picanto' 'nx-350' 'dfsk-v21' '3008-gt-line' 'talisman'
 'f430-spider' '156159' 'g70' 'boxer' 'montero' 'other-car' 'mondeo'
 'transporter' 'b-class' 'emgrand-7' 'emgrand-x7-sport' 'voyagercaravan'
 'ignis' 'fleetwood' 'xt6' 'sonic' 'carens' 'nitro' 'azure' 'v80' 'cx-30'
 'rc-f' 'qashqai' 'wrangler-4xe' 'clk-class' 'dtsde-ville' 'polo' 'rsq3'
 'odyssey-j']
======================================================
 ==================  year  ==========================
=======================================================
year  :  [2013. 2018. 2014. 2020. 2015. 2019. 2008. 2010. 2021. 2017. 2012. 2009.
 2004. 2016. 2011. 2005. 2006. 2007. 1960. 1999. 1987. 1991. 1989. 2002.
 1982. 1980. 1954. 1975. 2001. 2000. 1971. 2003. 1964. 1983. 1965. 1990.
 1992. 1994. 1969. 1974. 1997. 1998. 1995. 1953. 1984. 1979. 1977. 1973.
 1976. 1996. 1972. 1970.]
======================================================
 ==================  horsepower  ==========================
=======================================================
horsepower  :  ['Unknown' '400 - 500 HP' '600 - 700 HP' 'Less than 150 HP' '200 - 300 HP'
 '500 - 600 HP' '300 - 400 HP' '150 - 200 HP' '700 - 800 HP'
 '800 - 900 HP' '900+ HP']

In [536]:
"None" in clean_data.no_of_cylinders.values

True

In [537]:
import numpy as np
np.nan

nan

In [538]:
np.NaN in clean_data.horsepower.unique()

False

In [539]:
### Clearnng data

In [540]:
clean_data['no_of_cylinders'] = clean_data['no_of_cylinders'].replace('None', np.nan ).replace('Unknown', np.nan)
clean_data['no_of_cylinders']  = clean_data['no_of_cylinders'].fillna(method='ffill')

In [541]:
clean_data['horsepower'] = clean_data['horsepower'].replace('Unknown', np.nan).replace(np.NaN, np.nan)
clean_data['horsepower'].fillna(method='ffill', inplace=True)

In [542]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8376 entries, 0 to 9969
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company               8376 non-null   object
 1   price_in_aed          8376 non-null   object
 2   body_condition        8376 non-null   object
 3   mechanical_condition  8376 non-null   object
 4   no_of_cylinders       8376 non-null   object
 5   transmission_type     8376 non-null   object
 6   model                 8376 non-null   object
 7   year                  8376 non-null   float64
 8   horsepower            8375 non-null   object
dtypes: float64(1), object(8)
memory usage: 654.4+ KB

In [471]:
data.columns

Index(['title', 'price_in_aed', 'kilometers', 'body_condition',
       'mechanical_condition', 'seller_type', 'body_type', 'no_of_cylinders',
       'transmission_type', 'regional_specs', 'horsepower', 'fuel_type',
       'steering_side', 'year', 'color', 'emirate', 'motors_trim', 'company',
       'model', 'date_posted'],
      dtype='object')

In [543]:
# Transform data

clean_data['company'] = clean_data.company.astype('category')
clean_data['body_condition'] = clean_data.body_condition.astype('category')
clean_data['mechanical_condition'] = clean_data.mechanical_condition.astype('category')
clean_data['transmission_type'] = clean_data.transmission_type.astype('category')
clean_data['model'] = clean_data.model.astype('category')
clean_data['horsepower'] = clean_data.horsepower.astype('category')

clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8376 entries, 0 to 9969
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company               8376 non-null   category
 1   price_in_aed          8376 non-null   object
 2   body_condition        8376 non-null   category
 3   mechanical_condition  8376 non-null   category
 4   no_of_cylinders       8376 non-null   object
 5   transmission_type     8376 non-null   category
 6   model                 8376 non-null   category
 7   year                  8376 non-null   float64
 8   horsepower            8375 non-null   category
dtypes: category(6), float64(1), object(2)
memory usage: 342.8+ KB

In [544]:
type(clean_data.price_in_aed[0])

str

In [545]:
clean_data.price_in_aed

0        26,000
1       110,000
2        78,000
3       899,000
4        33,000
         ...
9962    385,000
9965    215,000
9966     90,000
9968     18,900
9969     77,700
Name: price_in_aed, Length: 8376, dtype: object

In [546]:
clean_data['price_in_aed'] = pd.to_numeric(clean_data['price_in_aed'].str.replace(',', ''), errors='coerce')

In [547]:
clean_data.head(3)

,company,price_in_aed,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,mitsubishi,26000,Perfect inside and out,Perfect inside and out,6,Automatic Transmission,pajero,2013.0,NaN
1,chevrolet,110000,Perfect inside and out,Perfect inside and out,8,Automatic Transmission,silverado,2018.0,400 - 500 HP
2,mercedes-benz,78000,Perfect inside and out,Perfect inside and out,6,Automatic Transmission,e-class,2014.0,400 - 500 HP

In [548]:
company_mapping = dict(enumerate(clean_data.company.cat.categories))
body_condition_mapping = dict(enumerate(clean_data.body_condition.cat.categories))
mechanical_condition_mapping = dict(enumerate(clean_data.mechanical_condition.cat.categories))
transmission_type_mapping = dict(enumerate(clean_data.transmission_type.cat.categories))
model_mapping = dict(enumerate(clean_data.model.cat.categories))
horsepower = dict(enumerate(clean_data.horsepower.cat.categories))

In [557]:
company_mapping = dict(zip(clean_data['company'].cat.categories, range(len(clean_data['company'].cat.categories))))
body_condition_mapping = dict(zip(clean_data['body_condition'].cat.categories, range(len(clean_data['body_condition'].cat.categories))))
mechanical_condition_mapping = dict(zip(clean_data['mechanical_condition'].cat.categories, range(len(clean_data['mechanical_condition'].cat.categories))))
transmission_type_mapping = dict(zip(clean_data['transmission_type'].cat.categories, range(len(clean_data['transmission_type'].cat.categories))))
model_mapping = dict(zip(clean_data['model'].cat.categories, range(len(clean_data['model'].cat.categories))))
horsepower = dict(zip(clean_data['horsepower'].cat.categories, range(len(clean_data['horsepower'].cat.categories))))

In [558]:
company_mapping

{'acura': 0,
 'alfa-romeo': 1,
 'aston-martin': 2,
 'audi': 3,
 'baic': 4,
 'bentley': 5,
 'bmw': 6,
 'buick': 7,
 'cadillac': 8,
 'changan': 9,
 'chevrolet': 10,
 'chrysler': 11,
 'daihatsu': 12,
 'dodge': 13,
 'dongfeng': 14,
 'ferrari': 15,
 'fiat': 16,
 'ford': 17,
 'foton': 18,
 'gac': 19,
 'geely': 20,
 'genesis': 21,
 'gmc': 22,
 'honda': 23,
 'hummer': 24,
 'hyundai': 25,
 'infiniti': 26,
 'isuzu': 27,
 'jac': 28,
 'jaguar': 29,
 'jeep': 30,
 'kia': 31,
 'lamborghini': 32,
 'land-rover': 33,
 'lexus': 34,
 'lincoln': 35,
 'lotus': 36,
 'maserati': 37,
 'maxus': 38,
 'maybach': 39,
 'mazda': 40,
 'mclaren': 41,
 'mercedes-benz': 42,
 'mercedes-maybach': 43,
 'mercury': 44,
 'mg': 45,
 'mini': 46,
 'mitsubishi': 47,
 'morgan': 48,
 'nissan': 49,
 'opel': 50,
 'other-make': 51,
 'peugeot': 52,
 'porsche': 53,
 'renault': 54,
 'rolls-royce': 55,
 'rover': 56,
 'saab': 57,
 'skoda': 58,
 'smart': 59,
 'ssang-yong': 60,
 'subaru': 61,
 'suzuki': 62,
 'tesla': 63,
 'toyota': 64,
 'volkswagen': 65,
 'volvo': 66,
 'westfield-sportscars': 67}

In [559]:
clean_data['company'] = clean_data.company.cat.codes
clean_data['body_condition'] = clean_data.body_condition.cat.codes
clean_data['mechanical_condition'] = clean_data.mechanical_condition.cat.codes
clean_data['transmission_type'] = clean_data.transmission_type.cat.codes
clean_data['model'] = clean_data.model.cat.codes
clean_data['horsepower'] = clean_data.horsepower.cat.codes

In [560]:
clean_data[clean_data.horsepower.values == -1]

,company,price_in_aed,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,47,26000,3,4,6,0,357,2013.0,-1

In [562]:
clean_data.head(3)

,company,price_in_aed,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,47,26000,3,4,6,0,357,2013.0,-1
1,10,110000,3,4,8,0,439,2018.0,3
2,42,78000,3,4,6,0,169,2014.0,3

In [563]:
# splitting variable
X = clean_data.drop(columns='price_in_aed')
y = clean_data.price_in_aed

In [564]:
X.head(3)

,company,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
0,47,3,4,6,0,357,2013.0,-1
1,10,3,4,8,0,439,2018.0,3
2,42,3,4,6,0,169,2014.0,3

In [565]:
y.head(3)

0     26000
1    110000
2     78000
Name: price_in_aed, dtype: int64

In [566]:
# splitting .... train and test
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=.2, random_state=2)
print(X_train.shape)
print(X_test.shape)

(6700, 8)
(1676, 8)

In [567]:
# prediction model

In [579]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm

lr_model = RandomForestRegressor()
lr_model.fit(X_train, y_train)
lr_predict = lr_model.predict(X_test)

lr_train_score = lr_model.score(X_train, y_train)
lr_test_score = lr_model.score(X_test, y_test)
LRmse = mean_squared_error(y_test, lr_predict)

In [580]:
print("Train Accuracy : ", lr_train_score)
print("Test Accuracy : " , lr_test_score)
print("Mean Error : ", lr_mse)

Train Accuracy :  0.9171249833932883
Test Accuracy :  0.7173259850504354
Mean Error :  13646332056.429098

In [581]:
from sklearn import svm
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

gbr_model = GradientBoostingRegressor()
gbr_model.fit(X_train, y_train)
gbr_predict = gbr_model.predict(X_test)

gbr_train_score = gbr_model.score(X_train, y_train)
gbr_test_score = gbr_model.score(X_test, y_test)
gbr_mse = mean_squared_error(y_test, gbr_predict)

In [582]:
print("Train Accuracy : ", gbr_train_score)
print("Test Accuracy : " , gbr_test_score)
print("Mean Error : ", gbr_mse)

Train Accuracy :  0.8006418848399918
Test Accuracy :  0.6538333711733757
Mean Error :  41008427830.722786

In [583]:
from sklearn.neighbors import KNeighborsRegressor

knn_model = KNeighborsRegressor(n_neighbors=3)  
knn_model.fit(X_train, y_train)
knn_predict = knn_model.predict(X_test)

knn_train_score = knn_model.score(X_train, y_train)
knn_test_score = knn_model.score(X_test, y_test)
knn_mse = mean_squared_error(y_test, knn_predict)

In [584]:
print("Train Accuracy : ", knn_train_score)
print("Test Accuracy : " , knn_test_score)
print("Mean Error : ", knn_mse)

Train Accuracy :  0.8165753924981055
Test Accuracy :  0.7198953563008865
Mean Error :  33182433283.996414

In [585]:
#saving model

In [586]:
import joblib

joblib.dump(lr_model, 'Radomforest.joblib')
joblib.dump(gbr_model, 'GradientBoost.joblib')
joblib.dump(knn_model, 'KNeighbors.joblib')
print("all model save successfully")

all model save successfully

In [587]:
from sklearn.ensemble import VotingRegressor

ensemble_model = VotingRegressor([('knn', knn_model), ('randaomforest', lr_model), ('gradientboost', gbr_model)])
ensemble_model.fit(X_train, y_train)
ensemble_predict = ensemble_model.predict(X_test)

ensemble_train_score = ensemble_model.score(X_train, y_train)
ensemble_test_score = ensemble_model.score(X_test, y_test)
ensemble_mse = mean_squared_error(y_test, ensemble_predict)
ensemble_model

VotingRegressor(estimators=[('knn', KNeighborsRegressor(n_neighbors=3)),
                            ('randaomforest', RandomForestRegressor()),
                            ('gradientboost', GradientBoostingRegressor())])

In [588]:
print("Train Accuracy : ", ensemble_train_score)
print("Test Accuracy : " , ensemble_test_score)
print("Mean Error : ", ensemble_mse)

Train Accuracy :  0.8740693755733902
Test Accuracy :  0.7269476481760143
Mean Error :  32346987639.271324

In [589]:
joblib.dump(ensemble_model, 'ensemble.joblib')

['ensemble.joblib']

In [590]:
# =====================================
X.columns

Index(['company', 'body_condition', 'mechanical_condition', 'no_of_cylinders',
       'transmission_type', 'model', 'year', 'horsepower'],
      dtype='object')

In [591]:
sample = X.sample()
sample

,company,body_condition,mechanical_condition,no_of_cylinders,transmission_type,model,year,horsepower
6062,64,3,4,8,0,481,2019.0,4

In [592]:
ensemble_model.predict(sample)

array([335613.8814054])

In [593]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8376 entries, 0 to 9969
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company               8376 non-null   int8
 1   price_in_aed          8376 non-null   int64
 2   body_condition        8376 non-null   int8
 3   mechanical_condition  8376 non-null   int8
 4   no_of_cylinders       8376 non-null   object
 5   transmission_type     8376 non-null   int8
 6   model                 8376 non-null   int16
 7   year                  8376 non-null   float64
 8   horsepower            8376 non-null   int8
dtypes: float64(1), int16(1), int64(1), int8(5), object(1)
memory usage: 577.0+ KB

In [594]:
company_mapping

{'acura': 0,
 'alfa-romeo': 1,
 'aston-martin': 2,
 'audi': 3,
 'baic': 4,
 'bentley': 5,
 'bmw': 6,
 'buick': 7,
 'cadillac': 8,
 'changan': 9,
 'chevrolet': 10,
 'chrysler': 11,
 'daihatsu': 12,
 'dodge': 13,
 'dongfeng': 14,
 'ferrari': 15,
 'fiat': 16,
 'ford': 17,
 'foton': 18,
 'gac': 19,
 'geely': 20,
 'genesis': 21,
 'gmc': 22,
 'honda': 23,
 'hummer': 24,
 'hyundai': 25,
 'infiniti': 26,
 'isuzu': 27,
 'jac': 28,
 'jaguar': 29,
 'jeep': 30,
 'kia': 31,
 'lamborghini': 32,
 'land-rover': 33,
 'lexus': 34,
 'lincoln': 35,
 'lotus': 36,
 'maserati': 37,
 'maxus': 38,
 'maybach': 39,
 'mazda': 40,
 'mclaren': 41,
 'mercedes-benz': 42,
 'mercedes-maybach': 43,
 'mercury': 44,
 'mg': 45,
 'mini': 46,
 'mitsubishi': 47,
 'morgan': 48,
 'nissan': 49,
 'opel': 50,
 'other-make': 51,
 'peugeot': 52,
 'porsche': 53,
 'renault': 54,
 'rolls-royce': 55,
 'rover': 56,
 'saab': 57,
 'skoda': 58,
 'smart': 59,
 'ssang-yong': 60,
 'subaru': 61,
 'suzuki': 62,
 'tesla': 63,
 'toyota': 64,
 'volkswagen': 65,
 'volvo': 66,
 'westfield-sportscars': 67}

In [595]:
body_condition_mapping

{'A bit of wear & tear, all repaired': 0,
 'No accidents, very few faults': 1,
 'Normal wear & tear, a few issues': 2,
 'Perfect inside and out': 3}

In [596]:
mechanical_condition_mapping

{'Major faults fixed, small remain': 0,
 'Major faults, all fixed': 1,
 'Minor faults, all fixed': 2,
 'Ongoing minor & major faults': 3,
 'Perfect inside and out': 4}

In [597]:
transmission_type_mapping

{'Automatic Transmission': 0, 'Manual Transmission': 1}

In [598]:
model_mapping

{'09-Mar': 0,
 '1-series': 1,
 '124-spider': 2,
 '156159': 3,
 '2-series': 4,
 '2008': 5,
 '200cev200': 6,
 '206cc': 7,
 '207': 8,
 '208': 9,
 '280zx': 10,
 '3': 11,
 '3-series': 12,
 '300350380': 13,
 '3008': 14,
 '3008-gt-line': 15,
 '300m300c': 16,
 '300zx': 17,
 '301': 18,
 '308': 19,
 '308-gt-lne': 20,
 '355': 21,
 '370z': 22,
 '4-runner': 23,
 '4-series': 24,
 '458': 25,
 '458-italia': 26,
 '458-spider': 27,
 '488': 28,
 '488-gtb': 29,
 '488-spider': 30,
 '4c': 31,
 '5-series': 32,
 '5008': 33,
 '500x': 34,
 '5045': 35,
 '508': 36,
 '57': 37,
 '570gt': 38,
 '570s': 39,
 '599': 40,
 '599gtb': 41,
 '6': 42,
 '6-series': 43,
 '650s': 44,
 '675lt': 45,
 '7-series': 46,
 '720s': 47,
 '8-series': 48,
 '812-gts': 49,
 '812-superfast': 50,
 '86': 51,
 'a-class': 52,
 'a1': 53,
 'a200': 54,
 'a3': 55,
 'a4': 56,
 'a5': 57,
 'a6': 58,
 'a7': 59,
 'a8': 60,
 'acadia': 61,
 'accent': 62,
 'accord': 63,
 'aero-8': 64,
 'altima': 65,
 'amg': 66,
 'amg-gt-4-doors': 67,
 'armada': 68,
 'arteon': 69,
 'astra': 70,
 'asx': 71,
 'ats': 72,
 'attrage': 73,
 'aurion': 74,
 'avalon': 75,
 'avanti': 76,
 'avanza': 77,
 'aventador': 78,
 'aveo': 79,
 'aviator': 80,
 'azera': 81,
 'azure': 82,
 'b-class': 83,
 'baleno': 84,
 'barchetta': 85,
 'beetle': 86,
 'bentayga': 87,
 'bj40l': 88,
 'blazer': 89,
 'boxer': 90,
 'boxster': 91,
 'bronco': 92,
 'brz': 93,
 'c-class': 94,
 'c-class-coupe': 95,
 'c43': 96,
 'caddy': 97,
 'cadenza': 98,
 'california': 99,
 'california-t': 100,
 'camaro': 101,
 'camry': 102,
 'canter': 103,
 'caprice': 104,
 'captiva': 105,
 'captur': 106,
 'caravan': 107,
 'carens': 108,
 'carnival': 109,
 'carrera': 110,
 'cavalier': 111,
 'cayenne': 112,
 'cayman': 113,
 'cc': 114,
 'centennial': 115,
 'cerato': 116,
 'challenger': 117,
 'charger': 118,
 'cherokee': 119,
 'city': 120,
 'city-bus': 121,
 'civic': 122,
 'cl-class': 123,
 'cla': 124,
 'clc': 125,
 'clio': 126,
 'clk-class': 127,
 'cls-class': 128,
 'clubman': 129,
 'compass': 130,
 'continental': 131,
 'continental-flying-spur': 132,
 'continental-gt': 133,
 'cooper': 134,
 'corolla': 135,
 'corolla-cross': 136,
 'corvette': 137,
 'countryman': 138,
 'cr-v': 139,
 'creta': 140,
 'crosstour': 141,
 'crown': 142,
 'cruze': 143,
 'cs75': 144,
 'cs95': 145,
 'ct4': 146,
 'ct5': 147,
 'ct6': 148,
 'ctscatera': 149,
 'cullinan': 150,
 'cx-3': 151,
 'cx-30': 152,
 'cx-5': 153,
 'cx-9': 154,
 'dart': 155,
 'dawn': 156,
 'db11': 157,
 'db9': 158,
 'dbs': 159,
 'dbx': 160,
 'defender': 161,
 'dfsk-v21': 162,
 'discovery': 163,
 'discovery-sport': 164,
 'dokker': 165,
 'dtsde-ville': 166,
 'durango': 167,
 'duster': 168,
 'e-class': 169,
 'e-class-coupe': 170,
 'e-pace': 171,
 'e-tron': 172,
 'eclipse': 173,
 'ecosport': 174,
 'edge': 175,
 'elantra': 176,
 'elva': 177,
 'emgrand-7': 178,
 'emgrand-8': 179,
 'emgrand-gt': 180,
 'emgrand-x7-sport': 181,
 'eos': 182,
 'equinox': 183,
 'ertiga': 184,
 'es-series': 185,
 'escalade': 186,
 'escape': 187,
 'evolution': 188,
 'evora': 189,
 'ex35': 190,
 'expedition': 191,
 'expert': 192,
 'explorer': 193,
 'express': 194,
 'f-pace': 195,
 'f-series-pickup': 196,
 'f-type': 197,
 'f12': 198,
 'f430': 199,
 'f430-spider': 200,
 'f8-tributo': 201,
 'f8-tributo-spider': 202,
 'fabia': 203,
 'ff': 204,
 'fiat-500': 205,
 'fiesta': 206,
 'figo': 207,
 'fj-cruiser': 208,
 'fleetwood': 209,
 'flex': 210,
 'fluence': 211,
 'focus': 212,
 'forester': 213,
 'fortuner': 214,
 'fusion': 215,
 'fx45fx35': 216,
 'fx50': 217,
 'g-class': 218,
 'g25': 219,
 'g70': 220,
 'g80': 221,
 'g90': 222,
 'ga3': 223,
 'gallardo': 224,
 'gc6': 225,
 'genesis': 226,
 'ghibli': 227,
 'ghost': 228,
 'giulia': 229,
 'giulietta': 230,
 'gl-class': 231,
 'gla': 232,
 'gladiator': 233,
 'glb': 234,
 'glc': 235,
 'glc-63': 236,
 'gle-class': 237,
 'gle-coupe': 238,
 'glk': 239,
 'gls-class': 240,
 'golf': 241,
 'golfr': 242,
 'gran-max': 243,
 'grand-cherokee': 244,
 'grand-marquis': 245,
 'grand-santa-fe': 246,
 'grand-vitara': 247,
 'granturismo': 248,
 'gs-series': 249,
 'gs4': 250,
 'gs7': 251,
 'gseries': 252,
 'gt': 253,
 'gt-r': 254,
 'gtc4-lusso': 255,
 'gti': 256,
 'gv80': 257,
 'gx-series': 258,
 'h1': 259,
 'h2': 260,
 'h3': 261,
 'heavy-vehicles': 262,
 'hiace': 263,
 'highlander': 264,
 'hilux': 265,
 'hr-v': 266,
 'hs': 267,
 'huracan': 268,
 'i10': 269,
 'id4': 270,
 'ignis': 271,
 'impala': 272,
 'innova': 273,
 'insignia': 274,
 'is-c': 275,
 'is-f': 276,
 'is-series': 277,
 'jazz': 278,
 'jetta': 279,
 'jimny': 280,
 'journey': 281,
 'juke': 282,
 'jxseries': 283,
 'k5': 284,
 'kicks': 285,
 'kizashi': 286,
 'koleos': 287,
 'kona': 288,
 'koup': 289,
 'l200': 290,
 'lancer': 291,
 'land-cruiser': 292,
 'land-cruiser-76-series': 293,
 'lc-500': 294,
 'legacy': 295,
 'levante': 296,
 'lr2': 297,
 'lr3': 298,
 'lr4': 299,
 'ls-series': 300,
 'lumina': 301,
 'lx-series': 302,
 'm-class': 303,
 'm2': 304,
 'm3': 305,
 'm4': 306,
 'm5': 307,
 'm6': 308,
 'm8': 309,
 'm850i': 310,
 'macan': 311,
 'magnum': 312,
 'malibu': 313,
 'maxima': 314,
 'megane': 315,
 'mg5': 316,
 'micra': 317,
 'mini-coupe': 318,
 'mirage': 319,
 'mkc': 320,
 'mks': 321,
 'mkt': 322,
 'mkx': 323,
 'mkz': 324,
 'model-3': 325,
 'model-s': 326,
 'model-x': 327,
 'mohave': 328,
 'mondeo': 329,
 'montero': 330,
 'montero-sport': 331,
 'mp412c': 332,
 'mseries': 333,
 'mulsanne': 334,
 'multivan': 335,
 'murano': 336,
 'mustang': 337,
 'nautilus': 338,
 'navara': 339,
 'navigator': 340,
 'nitro': 341,
 'nx-200t': 342,
 'nx-300': 343,
 'nx-350': 344,
 'octavia': 345,
 'odyssey': 346,
 'odyssey-j': 347,
 'optima': 348,
 'optra': 349,
 'other': 350,
 'other-4x4': 351,
 'other-car': 352,
 'other-utility': 353,
 'outlander': 354,
 'p1': 355,
 'pacifica': 356,
 'pajero': 357,
 'pajero-sport': 358,
 'palisade': 359,
 'panamera': 360,
 'partner': 361,
 'passat': 362,
 'pathfinder': 363,
 'patrol': 364,
 'patrol-pickup': 365,
 'phantom': 366,
 'picanto': 367,
 'pickup': 368,
 'pilot': 369,
 'plus-8': 370,
 'polo': 371,
 'portofino': 372,
 'prado': 373,
 'previa': 374,
 'pt-cruiser': 375,
 'q3': 376,
 'q30': 377,
 'q5': 378,
 'q50': 379,
 'q60': 380,
 'q7': 381,
 'q70': 382,
 'q8': 383,
 'q80': 384,
 'qashqai': 385,
 'quattroporte': 386,
 'quest': 387,
 'quoris': 388,
 'qx50': 389,
 'qx56': 390,
 'qx60': 391,
 'qx70': 392,
 'r-class': 393,
 'r8': 394,
 'ram': 395,
 'range-rover': 396,
 'range-rover-evoque': 397,
 'range-rover-sport': 398,
 'range-rover-velar': 399,
 'ranger': 400,
 'rapide': 401,
 'rav-4': 402,
 'rc': 403,
 'rc-f': 404,
 'rcz': 405,
 'rdx': 406,
 'renegade': 407,
 'rio': 408,
 'rogue': 409,
 'roma': 410,
 'rs6': 411,
 'rsq3': 412,
 'rush': 413,
 'rx-series': 414,
 'rx8': 415,
 's-class': 416,
 's-class-coupe': 417,
 's-type': 418,
 's2000': 419,
 's3rs3': 420,
 's4rs4': 421,
 's5rs5': 422,
 's7rs7': 423,
 's8': 424,
 'santa-fe': 425,
 'savana': 426,
 'scaglietti': 427,
 'scion': 428,
 'scirocco': 429,
 'sedona': 430,
 'senna': 431,
 'sentra': 432,
 'sequoia': 433,
 'sf90-stradale': 434,
 'shelby-cobra': 435,
 'sienna': 436,
 'sierra': 437,
 'silver-spur': 438,
 'silverado': 439,
 'sl-class': 440,
 'slc': 441,
 'slk-class': 442,
 'slr': 443,
 'sls': 444,
 'sonata': 445,
 'sonic': 446,
 'sorento': 447,
 'soul': 448,
 'spark': 449,
 'special-edition': 450,
 'sportage': 451,
 'sprinter': 452,
 'srx': 453,
 'stelvio': 454,
 'stinger': 455,
 'suburban': 456,
 'sunny': 457,
 'supra': 458,
 'swift': 459,
 'symbol': 460,
 'tacoma': 461,
 'tahoe': 462,
 'talisman': 463,
 'taurus': 464,
 'taycan': 465,
 'telluride': 466,
 'teramont': 467,
 'terrain': 468,
 'tiguan': 469,
 'tiida': 470,
 'titan': 471,
 'touareg': 472,
 'town-car': 473,
 'trailblazer': 474,
 'transporter': 475,
 'traverse': 476,
 'trax': 477,
 'trooper': 478,
 'tt': 479,
 'tucson': 480,
 'tundra': 481,
 'twizy': 482,
 'urus': 483,
 'ux-200': 484,
 'v-class': 485,
 'v80': 486,
 'van': 487,
 'vanquish': 488,
 'vantage': 489,
 'veloster': 490,
 'veracruz': 491,
 'versa': 492,
 'viano': 493,
 'voyagercaravan': 494,
 'wraith': 495,
 'wrangler': 496,
 'wrangler-4xe': 497,
 'wrangler-unlimited': 498,
 'wrx': 499,
 'x-class': 500,
 'x-trail': 501,
 'x1': 502,
 'x2': 503,
 'x3': 504,
 'x4': 505,
 'x5': 506,
 'x6': 507,
 'x7': 508,
 'xc40': 509,
 'xc60': 510,
 'xc90': 511,
 'xe': 512,
 'xf': 513,
 'xj-series': 514,
 'xj6': 515,
 'xk': 516,
 'xk8': 517,
 'xkr': 518,
 'xt4': 519,
 'xt5': 520,
 'xt6': 521,
 'xterra': 522,
 'xts': 523,
 'yaris': 524,
 'yukon': 525,
 'z4': 526,
 'z8': 527,
 'zafira': 528,
 'zelas': 529}

In [599]:
horsepower

{'150 - 200 HP': 0,
 '200 - 300 HP': 1,
 '300 - 400 HP': 2,
 '400 - 500 HP': 3,
 '500 - 600 HP': 4,
 '600 - 700 HP': 5,
 '700 - 800 HP': 6,
 '800 - 900 HP': 7,
 '900+ HP': 8,
 'Less than 150 HP': 9}

In [607]:
import json

# features
company_mapping
body_condition_mapping 
mechanical_condition_mapping 
transmission_type_mapping 
model_mapping 
horsepower

feature_dictionary = {
    'company': company_mapping, 
    'body_condition':body_condition_mapping, 
    'mechanical_condition': mechanical_condition_mapping, 
    'transmission_type': transmission_type_mapping, 
    'model': model_mapping, 
    'horsepower': horsepower 
}


with open('app/feature.json', 'w') as file: 
    json.dump(feature_dictionary, file)
    print('saved successfull')

# year 
# no_of_cylinders

saved successfull

In [513]:
X_train.columns

Index(['company', 'body_condition', 'mechanical_condition', 'no_of_cylinders',
       'transmission_type', 'model', 'year', 'horsepower'],
      dtype='object')

In [604]:
def load_feature_json(path):
    features = None
    with open(path, 'r') as file: 
        features = json.load(file)

    return features

ld_feature = load_feature_json('feature.json')


def feature_converter(company, body_cond, mecha_cond, no_cylind, trans_type, model, year, horse_p): 
    
    ld_feature = load_feature_json('feature.json')
    company_feature = ld_feature['company'][company]
    body_cond = ld_feature['body_condition'][body_cond]
    mecha_cond = ld_feature['mechanical_condition'][mecha_cond]
    trans_type =  ld_feature['transmission_type'][trans_type]
    model =  ld_feature['model'][model]
    horse_p = ld_feature['horsepower'][horse_p]
    # non diction feature... 
    year = year
    no_cylind = no_cylind
    

ld_feature.keys()

dict_keys(['company', 'body_condition', 'mechanical_condition', 'transmission_type', 'model_mapping', 'horsepower'])

In [605]:
ld_feature['company']['acura']

0