## Spark

In [171]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum as spark_sum

In [3]:
# init spark object
spark_query = SparkSession.builder.appName("offence").getOrCreate()
spark_query

In [12]:
# loading dataset
data_path = 'offence_data.csv'
offence_df = spark_query.read.csv(data_path, header=True, inferSchema=True)
offence_df

DataFrame[_c0: int, Financial Year: string, Financial Quarter: int, Force Name: string, Offence Description: string, Offence Group: string, Offence Subgroup: string, Offence Code: string, Number of Offences: int]

In [19]:
table.show(4)

+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
|  1|       2012/13|                1|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|  2|       2012/13|                1|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 1|
|  3|       2012/13|                1|Avon and Somerset|Abuse of children...|     Sexual offences|Other sexual offe...|          71|                 0|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 4 rows

In [13]:
#creating and  SQL table from the datafram
offence_df.createOrReplaceTempView("offence_table")

In [85]:
# quering all item from the table.. 
table_query = spark_query.sql('SELECT * FROM offence_table')
table_query.show()

+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
|  1|       2012/13|                1|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|  2|       2012/13|                1|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 1|
|  3|       2012/13|                1|Avon and Somerset|Abuse of children...|     Sexual offences|Other sexual offe...|          71|                 0|
|  4|       2012/13|                1|Avon and Somerset|Abuse of position...|     Sexual offences|Other sexual offe...|          73|                 3|
|  5|       2012/13|                1|Avon and Somerset|Actually bodily h...|Violence against ...|Violence with injury|          8G|                 0|
|  6|       2012/13|                1|Avon and Somerset|Adulteration of f...|Miscellaneous cri...|Miscellaneous cri...|          89|                 0|
|  7|       2012/13|                1|Avon and Somerset|Aggravated burgla...|      Theft offences|Non-domestic burg...|          31|                 1|
|  8|       2012/13|                1|Avon and Somerset|Aggravated burgla...|      Theft offences|   Domestic burglary|          29|                 5|
|  9|       2012/13|                1|Avon and Somerset|Aggravated vehicl...|      Theft offences|Theft of a motor ...|        37.2|                45|
| 10|       2012/13|                1|Avon and Somerset|      Aiding suicide|Miscellaneous cri...|Miscellaneous cri...|          76|                 0|
| 11|       2012/13|                1|Avon and Somerset|Arson endangering...|Criminal damage a...|               Arson|         56A|                25|
| 12|       2012/13|                1|Avon and Somerset|Arson not endange...|Criminal damage a...|               Arson|         56B|               184|
| 13|       2012/13|                1|Avon and Somerset| Assault with injury|Violence against ...|Violence with injury|          8N|              2064|
| 14|       2012/13|                1|Avon and Somerset|Assault with inte...|Violence against ...|Violence with injury|          5D|                83|
| 15|       2012/13|                1|Avon and Somerset|Assault without i...|Violence against ...|Violence without ...|        105A|              1573|
| 16|       2012/13|                1|Avon and Somerset|Assault without i...|Violence against ...|Violence without ...|         104|               140|
| 17|       2012/13|                1|Avon and Somerset|Attempted burglar...|      Theft offences|Non-domestic burg...|         30B|               205|
| 18|       2012/13|                1|Avon and Somerset|Attempted burglar...|      Theft offences|   Domestic burglary|         28B|               182|
| 19|       2012/13|                1|Avon and Somerset|Attempted distrac...|      Theft offences|   Domestic burglary|         28D|                 2|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 20 rows

In [115]:
table_query.columns

['_c0',
 'Financial Year',
 'Financial Quarter',
 'Force Name',
 'Offence Description',
 'Offence Group',
 'Offence Subgroup',
 'Offence Code',
 'Number of Offences']

In [82]:
query_offence = spark_query.sql("SELECT * FROM offence_table WHERE `Number of Offences` > 1000 ")
print('Offence recorde above 1000 : = ', query_offence.count())
query_offence.show()

Offence recorde above 1000 : =  12601
+---+--------------+-----------------+--------------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|          Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+--------------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|        Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
| 13|       2012/13|                1|   Avon and Somerset| Assault with injury|Violence against ...|Violence with injury|          8N|              2064|
| 15|       2012/13|                1|   Avon and Somerset|Assault without i...|Violence against ...|Violence without ...|        105A|              1573|
| 26|       2012/13|                1|   Avon and Somerset|Burglary in a bui...|      Theft offences|Non-domestic burg...|         30A|              1655|
| 40|       2012/13|                1|   Avon and Somerset|Criminal damage t...|Criminal damage a...|     Criminal damage|         58C|              1721|
| 85|       2012/13|                1|   Avon and Somerset|         Other theft|      Theft offences|Other theft offences|          49|              2997|
| 92|       2012/13|                1|   Avon and Somerset|Possession of con...|       Drug offences| Possession of drugs|         92E|              1325|
|103|       2012/13|                1|   Avon and Somerset|Public fear, alar...|Public order offe...|Public order offe...|          9A|              1074|
|133|       2012/13|                1|   Avon and Somerset|         Shoplifting|      Theft offences|         Shoplifting|          46|              2629|
|138|       2012/13|                1|   Avon and Somerset|  Theft from vehicle|      Theft offences|Theft from a vehicle|          45|              1857|
|385|       2012/13|                1|British Transport...|Other criminal da...|Criminal damage a...|     Criminal damage|         58D|              1097|
|393|       2012/13|                1|British Transport...|         Other theft|      Theft offences|Other theft offences|          49|              2361|
|411|       2012/13|                1|British Transport...|Public fear, alar...|Public order offe...|Public order offe...|          9A|              1127|
|445|       2012/13|                1|British Transport...|Theft from the pe...|      Theft offences|Theft from the pe...|          39|              2046|
|449|       2012/13|                1|British Transport...|Theft or unauthor...|      Theft offences|       Bicycle theft|          44|              1289|
|547|       2012/13|                1|      Cambridgeshire|         Other theft|      Theft offences|Other theft offences|          49|              1464|
|595|       2012/13|                1|      Cambridgeshire|         Shoplifting|      Theft offences|         Shoplifting|          46|              1013|
|629|       2012/13|                1|            Cheshire| Assault with injury|Violence against ...|Violence with injury|          8N|              1141|
|631|       2012/13|                1|            Cheshire|Assault without i...|Violence against ...|Violence without ...|        105A|              1090|
|701|       2012/13|                1|            Cheshire|         Other theft|      Theft offences|Other theft offences|          49|              1590|
+---+--------------+-----------------+--------------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 20 rows

In [111]:
print('Total Recorded Offence By Force Name')
force_with_count_query = query.select('Force Name', 'Financial Quarter', 'Number of Offences').groupBy('Force Name').count().show(40)
force_with_count_query

Total Recorded Offence By Force Name
+--------------------+-----+
|          Force Name|count|
+--------------------+-----+
|       Thames Valley| 1434|
|               Gwent| 1434|
|           Hampshire| 1434|
|       Staffordshire| 1434|
|     Gloucestershire| 1434|
|     Nottinghamshire| 1434|
|     North Yorkshire| 1434|
|              Surrey| 1434|
|             Cumbria| 1434|
|           Cleveland| 1434|
|British Transport...| 1434|
|               CIFAS|    7|
|     London, City of| 1434|
|          Merseyside| 1434|
|  Greater Manchester| 1434|
|          Lancashire| 1434|
|        Warwickshire| 1434|
|       Hertfordshire| 1434|
|           Wiltshire| 1434|
|      Leicestershire| 1434|
| Metropolitan Police| 1434|
|              Dorset| 1434|
|        Bedfordshire| 1434|
|         North Wales| 1434|
|                Kent| 1434|
|   Avon and Somerset| 1434|
|               Cifas|    4|
|             Norfolk| 1434|
|         South Wales| 1434|
|              Sussex| 1434|
|      Cambridgeshire| 1434|
|          Derbyshire| 1434|
|Financial Fraud A...|    6|
|              Durham| 1434|
|     South Yorkshire| 1434|
|             Suffolk| 1434|
|    Northamptonshire| 1434|
|         Northumbria| 1434|
|         Dyfed-Powys| 1434|
|        Lincolnshire| 1434|
+--------------------+-----+
only showing top 40 rows

In [88]:
# using spark query to show unique value
q_unique_val = table_query.select("Financial Quarter").distinct()
q_unique_val.show()

+-----------------+
|Financial Quarter|
+-----------------+
|                1|
|                3|
|                4|
|                2|
+-----------------+

In [91]:
# using sql to extract each quartile table....
q1_query = spark_query.sql("SELECT * FROM offence_table WHERE `Financial Quarter` == 1")
q2_query = spark_query.sql("SELECT * FROM offence_table WHERE `Financial Quarter` == 2")
q3_query = spark_query.sql("SELECT * FROM offence_table WHERE `Financial Quarter` == 3")
q4_query = spark_query.sql("SELECT * FROM offence_table WHERE `Financial Quarter` == 4")


q1_query.show(3)

+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
|  1|       2012/13|                1|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|  2|       2012/13|                1|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 1|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 3 rows

In [92]:
q2_query.show(3)

+----+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
| _c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+----+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|6779|       2012/13|                2|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             25754|
|6780|       2012/13|                2|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|6781|       2012/13|                2|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 4|
+----+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 3 rows

In [99]:
q1_total = q1_query.agg(spark_sum("Number of Offences").alias("Total offence in Quarter 1"))
q2_total = q2_query.agg(spark_sum("Number of Offences").alias("Total offence in Quarter 2"))
q3_total = q3_query.agg(spark_sum("Number of Offences").alias("Total offence in Quarter 2"))
q4_total = q4_query.agg(spark_sum("Number of Offences").alias("Total offence in Quarter 2"))

print(q1_total.show())
print(q2_total.show())
print(q3_total.show())
print(q4_total.show())

+--------------------------+
|Total offence in Quarter 1|
+--------------------------+
|                  14313865|
+--------------------------+

None
+--------------------------+
|Total offence in Quarter 2|
+--------------------------+
|                  14740075|
+--------------------------+

None
+--------------------------+
|Total offence in Quarter 2|
+--------------------------+
|                  14548675|
+--------------------------+

None
+--------------------------+
|Total offence in Quarter 2|
+--------------------------+
|                  14233466|
+--------------------------+

None

In [155]:
# let see the offence unqieu value
unique_offence= table_query.select("Offence Group").distinct()
unique_year= table_query.select("Financial Year").distinct()
print(unique_offence.show())
print(unique_year.show())

+--------------------+
|       Offence Group|
+--------------------+
|Public order offe...|
|             Robbery|
|      Fraud offences|
|     Sexual offences|
|Criminal damage a...|
|Possession of wea...|
|       Drug offences|
|      Theft offences|
|Miscellaneous cri...|
|Violence against ...|
+--------------------+

None
+--------------+
|Financial Year|
+--------------+
|       2015/16|
|       2013/14|
|       2012/13|
|       2014/15|
|       2016/17|
|       2017/18|
|       2018/19|
|       2021/22|
|       2020/21|
|       2019/20|
|       2022/23|
+--------------+

None

In [149]:
table_query.show(5)

+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
|  1|       2012/13|                1|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|  2|       2012/13|                1|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 1|
|  3|       2012/13|                1|Avon and Somerset|Abuse of children...|     Sexual offences|Other sexual offe...|          71|                 0|
|  4|       2012/13|                1|Avon and Somerset|Abuse of position...|     Sexual offences|Other sexual offe...|          73|                 3|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 5 rows

In [151]:
# sextual offence
sex_offence_query = spark_query.sql("SELECT * FROM offence_table WHERE `Offence Group` == 'Sexual offences' ")
# sex_offence_query.show()
sex_offence_query.show()

+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|  Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
|  3|       2012/13|                1|Avon and Somerset|Abuse of children...|Sexual offences|Other sexual offe...|          71|                 0|
|  4|       2012/13|                1|Avon and Somerset|Abuse of position...|Sexual offences|Other sexual offe...|          73|                 3|
| 34|       2012/13|                1|Avon and Somerset|Causing sexual ac...|Sexual offences|Other sexual offe...|         22A|                 1|
| 52|       2012/13|                1|Avon and Somerset|Exposure and voye...|Sexual offences|Other sexual offe...|         88E|                30|
| 67|       2012/13|                1|Avon and Somerset|Incest or familia...|Sexual offences|Other sexual offe...|          23|                 7|
| 82|       2012/13|                1|Avon and Somerset|Other miscellaneo...|Sexual offences|Other sexual offe...|         88C|                 0|
|116|       2012/13|                1|Avon and Somerset|Rape of a female ...|Sexual offences|       Rape offences|         19C|                98|
|117|       2012/13|                1|Avon and Somerset|Rape of a female ...|Sexual offences|       Rape offences|         19E|                 5|
|118|       2012/13|                1|Avon and Somerset|Rape of a female ...|Sexual offences|       Rape offences|         19D|                17|
|119|       2012/13|                1|Avon and Somerset|Rape of a male ag...|Sexual offences|       Rape offences|         19F|                 5|
|120|       2012/13|                1|Avon and Somerset|Rape of a male ch...|Sexual offences|       Rape offences|         19H|                 3|
|121|       2012/13|                1|Avon and Somerset|Rape of a male ch...|Sexual offences|       Rape offences|         19G|                 2|
|125|       2012/13|                1|Avon and Somerset|Sexual activity e...|Sexual offences|Other sexual offe...|          70|                 0|
|126|       2012/13|                1|Avon and Somerset|Sexual activity i...|Sexual offences|Other sexual offe...|          21|                15|
|127|       2012/13|                1|Avon and Somerset|Sexual activity i...|Sexual offences|Other sexual offe...|         22B|                27|
|128|       2012/13|                1|Avon and Somerset|Sexual assault on...|Sexual offences|Other sexual offe...|         20A|               108|
|129|       2012/13|                1|Avon and Somerset|Sexual assault on...|Sexual offences|Other sexual offe...|         20B|                36|
|130|       2012/13|                1|Avon and Somerset|Sexual assault on...|Sexual offences|Other sexual offe...|         17A|                10|
|131|       2012/13|                1|Avon and Somerset|Sexual assault on...|Sexual offences|Other sexual offe...|         17B|                 9|
|132|       2012/13|                1|Avon and Somerset|     Sexual grooming|Sexual offences|Other sexual offe...|         88A|                 2|
+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
only showing top 20 rows

In [161]:
year_2013_query = spark_query.sql("SELECT * FROM offence_table WHERE `Financial Year` == '2013/14' AND `Offence Group` == 'Sexual offences' ")
year_2015_query = spark_query.sql("SELECT * FROM offence_table WHERE `Financial Year` == '2015/16' AND `Offence Group` == 'Sexual offences' ")
year_2013_query.show(3)

+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|  Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
|  1|       2013/14|                1|Avon and Somerset|Abuse of children...|Sexual offences|Other sexual offe...|          71|                 0|
|  2|       2013/14|                1|Avon and Somerset|Abuse of position...|Sexual offences|Other sexual offe...|          73|                 8|
| 28|       2013/14|                1|Avon and Somerset|Causing sexual ac...|Sexual offences|Other sexual offe...|         22A|                 1|
+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
only showing top 3 rows

In [163]:
year_2015_query.show(3)

+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|  Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
|  1|       2015/16|                1|Avon and Somerset|Abuse of children...|Sexual offences|Other sexual offe...|          71|                 3|
|  2|       2015/16|                1|Avon and Somerset|Abuse of position...|Sexual offences|Other sexual offe...|          73|                 5|
| 28|       2015/16|                1|Avon and Somerset|Causing sexual ac...|Sexual offences|Other sexual offe...|         22A|                 1|
+---+--------------+-----------------+-----------------+--------------------+---------------+--------------------+------------+------------------+
only showing top 3 rows

In [166]:
total_in_2013 = year_2013_query.agg(spark_sum("Number of Offences").alias("Total offence in 2013"))
total_in_2015 = year_2015_query.agg(spark_sum("Number of Offences").alias("Total offence in 2015"))
total_in_2013.show()

+---------------------+
|Total offence in 2013|
+---------------------+
|                64344|
+---------------------+

In [167]:
total_in_2015.show()

+---------------------+
|Total offence in 2015|
+---------------------+
|               107344|
+---------------------+

In [176]:
# clossing session 
spark_query.stop()

## Apache HIVE

In [251]:
from pyspark.sql import SparkSession
from pyhive import hive
from pyspark.sql.functions import col, lower
from pyspark.sql.functions import desc, asc

In [177]:
# initiating hive support for spark
spark_hive = SparkSession.builder.appName("offence").enableHiveSupport().getOrCreate()
spark_hive

In [178]:
# loading and saving data in a hive table

In [180]:
# loading dataset
data_path = 'offence_data.csv'
offence_df = spark_hive.read.csv(data_path, header=True, inferSchema=True)
offence_df

DataFrame[_c0: int, Financial Year: string, Financial Quarter: int, Force Name: string, Offence Description: string, Offence Group: string, Offence Subgroup: string, Offence Code: string, Number of Offences: int]

In [181]:
offence_df.show(4)

+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
|  1|       2012/13|                1|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|  2|       2012/13|                1|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 1|
|  3|       2012/13|                1|Avon and Somerset|Abuse of children...|     Sexual offences|Other sexual offe...|          71|                 0|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 4 rows

In [234]:
offence_df.columns

['_c0',
 'Financial Year',
 'Financial Quarter',
 'Force Name',
 'Offence Description',
 'Offence Group',
 'Offence Subgroup',
 'Offence Code',
 'Number of Offences']

In [199]:
# Register the DataFrame as a temporary HIVE SQL table
offence_df.createOrReplaceTempView("hive_table")
hive_table = spark_hive.sql("SELECT * FROM hive_table")
hive_table.show(4)

+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     Action Fraud|Fraud offences re...|      Fraud offences| Fraud: Action Fraud|          AF|             20323|
|  1|       2012/13|                1|Avon and Somerset|Abandoning child ...|Violence against ...|Violence without ...|          12|                 0|
|  2|       2012/13|                1|Avon and Somerset|Absconding from l...|Miscellaneous cri...|Miscellaneous cri...|          80|                 1|
|  3|       2012/13|                1|Avon and Somerset|Abuse of children...|     Sexual offences|Other sexual offe...|          71|                 0|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 4 rows

In [215]:
print('Converting Columns to Lower Case')
for colm in hive_table.columns[3:7]:
    hive_table = hive_table.withColumn(colm, lower(col(colm)))

hive_table.show(5)

Converting Columns to Lower Case
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|_c0|Financial Year|Financial Quarter|       Force Name| Offence Description|       Offence Group|    Offence Subgroup|Offence Code|Number of Offences|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
|  0|       2012/13|                1|     action fraud|fraud offences re...|      fraud offences| fraud: action fraud|          AF|             20323|
|  1|       2012/13|                1|avon and somerset|abandoning child ...|violence against ...|violence without ...|          12|                 0|
|  2|       2012/13|                1|avon and somerset|absconding from l...|miscellaneous cri...|miscellaneous cri...|          80|                 1|
|  3|       2012/13|                1|avon and somerset|abuse of children...|     sexual offences|other sexual offe...|          71|                 0|
|  4|       2012/13|                1|avon and somerset|abuse of position...|     sexual offences|other sexual offe...|          73|                 3|
+---+--------------+-----------------+-----------------+--------------------+--------------------+--------------------+------------+------------------+
only showing top 5 rows

In [237]:
columns = ['_c0', 'Financial Year', 'Financial Quarter', 'Force Name', 'Offence Description', 'Offence Group', 'Offence Subgroup', 'Offence Code', 'Number of Offences']

# Provide a list of new column names
new_column_names = ['c0', 'FinancialYear', 'FinancialQuarter', 'ForceName', 'OffenceDescription', 'OffenceGroup', 'OffenceSubgroup', 'OffenceCode', 'NumberOffences']

# Assuming 'df' is your DataFrame
# Rename all columns
for old_col, new_col in zip(columns, new_column_names):
    hive_table = hive_table.withColumnRenamed(old_col, new_col)

hive_table.show(3)

+---+-------------+----------------+-----------------+--------------------+--------------------+--------------------+-----------+--------------+
| c0|FinancialYear|FinancialQuarter|        ForceName|  OffenceDescription|        OffenceGroup|     OffenceSubgroup|OffenceCode|NumberOffences|
+---+-------------+----------------+-----------------+--------------------+--------------------+--------------------+-----------+--------------+
|  0|      2012/13|               1|     action fraud|fraud offences re...|      fraud offences| fraud: action fraud|         AF|         20323|
|  1|      2012/13|               1|avon and somerset|abandoning child ...|violence against ...|violence without ...|         12|             0|
|  2|      2012/13|               1|avon and somerset|absconding from l...|miscellaneous cri...|miscellaneous cri...|         80|             1|
+---+-------------+----------------+-----------------+--------------------+--------------------+--------------------+-----------+--------------+
only showing top 3 rows

In [262]:
print('showings the dataset sorted in respect to number of offence')
ofence_code_qeury = hive_table.select('FinancialYear','OffenceSubgroup','NumberOffences')
sorted_offence = ofence_code_qeury.sort(desc('NumberOffences')).show()
sorted_offence

showings the dataset sorted in respect to number of offence
+-------------+-------------------+--------------+
|FinancialYear|    OffenceSubgroup|NumberOffences|
+-------------+-------------------+--------------+
|      2020/21|fraud: action fraud|        132693|
|      2022/23|  fraud: uk finance|        128818|
|      2021/22|  fraud: uk finance|        120310|
|      2022/23|  fraud: uk finance|        113476|
|      2022/23|  fraud: uk finance|        112518|
|      2021/22|fraud: action fraud|        112292|
|      2022/23|  fraud: uk finance|        105725|
|      2020/21|fraud: action fraud|        104779|
|      2020/21|fraud: action fraud|        103097|
|      2022/23|       fraud: cifas|        100982|
|      2022/23|       fraud: cifas|         96612|
|      2021/22|fraud: action fraud|         92073|
|      2021/22|fraud: action fraud|         92033|
|      2021/22|       fraud: cifas|         90683|
|      2019/20|fraud: action fraud|         89239|
|      2022/23|       fraud: cifas|         88141|
|      2020/21|fraud: action fraud|         87920|
|      2021/22|       fraud: cifas|         87565|
|      2019/20|       fraud: cifas|         87367|
|      2021/22|fraud: action fraud|         87246|
+-------------+-------------------+--------------+
only showing top 20 rows