In [3]:
import pandas as pd 

df  = pd.read_csv('Tweets.csv/Tweets.csv')

In [4]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [8]:
df = df[['airline_sentiment', 'negativereason']]

In [13]:
df['negativereason'].fillna('Well service is ok', inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_560\3697312712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['negativereason'].fillna('Well service is ok', inplace=True)

In [39]:
df

      airline_sentiment          negativereason
0               neutral      Well service is ok
1              positive      Well service is ok
2               neutral      Well service is ok
3              negative              Bad Flight
4              negative              Can't Tell
...                 ...                     ...
14635          positive      Well service is ok
14636          negative  Customer Service Issue
14637           neutral      Well service is ok
14638          negative  Customer Service Issue
14639           neutral      Well service is ok

[14640 rows x 2 columns]

In [41]:
df['sex'] = 'male'
df['age'] = 0

C:\Users\HP\AppData\Local\Temp\ipykernel_560\2462084601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = 'male'
C:\Users\HP\AppData\Local\Temp\ipykernel_560\2462084601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = 0

In [43]:
df.head(2)

  airline_sentiment      negativereason   sex  age
0           neutral  Well service is ok  male    0
1          positive  Well service is ok  male    0

In [99]:
sex = ['male' , 'female']
age = list(range(1, 20))

import numpy as np 



df['age'] = df['age'].apply(lambda x : np.random.choice(age))
df['sex'] = df['sex'].apply(lambda x : np.random.choice(sex))

array([11,  4,  5, 17,  8, 14, 18,  9,  1,  3, 10,  6, 16, 19,  7, 15,  2,
       13, 12])

In [48]:
# df.to_csv('sent_data.csv' , index=False)

In [95]:

def get_sex_statistic(df):   
    m , f =df['sex'].value_counts()
    return [m ,f] , ['male', 'female'] 

get_sex_statistic(df)

([7373, 7267], ['male', 'female'])

In [97]:
def get_sent_statistic(df):
    sent_d = df.groupby('airline_sentiment').value_counts()
    pos = sent_d['positive'].count()
    neg = sent_d['negative'].count()
    nut = sent_d['neutral'].count()

    y = [nut, pos, neg]
    x = df.airline_sentiment.unique()

    return x, y

get_sent_statistic(df)

(array(['neutral', 'positive', 'negative'], dtype=object), [60, 60, 577])

In [102]:
def get_sent_statistic(): 
    return df['age'].unique()

0        11
1         4
2         5
3         5
4        17
         ..
14635     5
14636    14
14637    18
14638     7
14639     4
Name: age, Length: 14640, dtype: int32