In [1]:
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
from facebook_scraper import get_posts
import facebook_scraper
from facebook_scraper import _scraper, get_posts , get_reactors
from selenium.webdriver.common.by import By
import pandas as pd
import json

<h2 align='center'>AI Base Scrapping Tool for Facebook<h2>

In [36]:
# Enter mail: hamad1076663@gmail.com
# Password: Capstone12345

In [2]:
login_flag = False

try:

    email = input('Enter Email: ')
    pass_code = input('Enter Passcode: ')

    # connecting to browse
    browser = webdriver.Chrome("C://chromedriver")
    browser.get('https://web.facebook.com/')

    #summit credentials ju
    email_box = browser.find_element(by='id', value='email')
    password_box = browser.find_element(by='id', value='pass')
    login_button = browser.find_element(by='name', value='login')


    email_box.send_keys(email.strip())
    password_box.send_keys(pass_code.strip())

    login_flag = True
    print('login Successfull')
# clicking button to login 
    login_button.click()
except Exception as e:
    login_flag = False
    print('login Fail')
    # print('envalid login {}'.format(e))

if login_flag: 
    credentials={'username':email, 'password':pass_code}
    with open('credentials.json', 'w') as file: 
        json.dump(credentials, file)
else: 
    credentials={'username':'', 'password':''}
    with open('credentials.json', 'w') as file: 
        json.dump(credentials, file)

In [3]:
# getting the login in profile data
def get_facebook_profile():
    
    browser.current_url
    # redirecting me to profile page
    profile_path = f'https://web.facebook.com/profile'
    browser.get(profile_path)
    
    return browser.current_url

profile = get_facebook_profile()



# using to extract profile name form link
def get_profile_name(profile):
    
    profile_name = profile.split('.com/')[-1].replace('/', '')
    
    return profile_name


user_profile_name = get_profile_name(profile)
user_profile_name
print('profile page loaded successfully')

'profile.php?id=100091362595291'

In [4]:
# get the page bio data information
_scraper.login(email, pass_code)
page = facebook_scraper.get_profile(account=user_profile_name , images=True )
print('second security check loaded successful')

In [5]:
page.keys()

dict_keys(['top_post', 'Friend_count', 'Follower_count', 'Following_count', 'cover_photo_text', 'cover_photo', 'profile_picture', 'id', 'Name', 'Work', 'Places lived', 'Contact info\nEdit', 'Basic info\nEdit', 'Other names', 'Relationship', 'Family members', 'About', 'Life events', 'Favorite quotes'])

In [61]:
page.keys()

profile_keys = page.keys()
profile_keys = list(profile_keys)[1:-1]
print(profile_keys)

def clean_keys():
   clean_profile = {}
   for key in profile_keys: 
      temp_key = key.replace("\n", '').replace('Edit', '').strip()
      clean_profile[temp_key] =  page[key]

   return clean_profile

def add_mini_keys():
    data = clean_keys()
    mini_contact = data['Contact info'].replace('Edit', '').strip().split('\n')
    mini_key = mini_contact[1::2]
    mini_data = mini_contact[::2]
    for i in range(len(mini_key)): 
        data[mini_key[i]] = mini_data[i]

    return data

def clean_profile_information():
   page_data = add_mini_keys()
   page_data_keys = page_data.keys()

   clean_facebook_profile = {}
   for key in page_data_keys: 
      # print(key)
      val = page_data[key]
      if val != None:
         if key == 'Places lived': 
            val = page_data[key][0]['text']
            clean_facebook_profile[key.lower()] = val
            # print(key ,':----', val)

         elif key == 'Contact Info':
            for cont_key, cont_val in page_data[key].items():
               clean_facebook_profile[cont_key.lower()] = cont_val 
               # print(cont_key, ':--', cont_val)
         elif key == 'profile_picture':
            pass

         else:
            clean_facebook_profile[key.lower()] = val
            # print(key,':--', val)

   return clean_facebook_profile

# print(profile_keys['Contact info\nEdit'])
clean_profile_data = clean_profile_information()

['Friend_count', 'Follower_count', 'Following_count', 'cover_photo_text', 'cover_photo', 'profile_picture', 'id', 'Name', 'Work', 'Places lived', 'Contact info\nEdit', 'Basic info\nEdit', 'Other names', 'Relationship', 'Family members', 'About', 'Life events']

In [62]:
add_mini_keys()
clean_profile_data

{'friend_count': 2,
 'id': '100091362595291',
 'name': 'Hamad Alsuwaidi',
 'work': 'Add work\nDubai Electricity and Water Authority - DEWA\nShift Manager\nDubai, United Arab Emirates\nMore options',
 'places lived': 'Abu Dhabi, United Arab Emirates',
 'contact info': 'Edit\n+971 50 561 1160\nMobile\nhamad1076663@gmail.com\nEmail',
 'basic info': 'Edit\nApril 11, 1998\nBirthday\nMale\nGender',
 'other names': 'Add a nickname, a birth name...',
 'relationship': 'Add a relationship status',
 'family members': 'Add family member',
 'about': 'Write about yourself',
 'life events': '',
 'mobile': '+971 50 561 1160',
 'email': 'hamad1076663@gmail.com'}

In [63]:
from PIL import Image
from io import BytesIO
import requests
import numpy as np
import json 
import cv2


def get_profile_key():
    profile_keys = page.keys()
    profile_keys = list(profile_keys)[1:]
    return profile_keys

def save_profile_info(page):
    profile_pix = page['profile_picture']
    img = Image.open(BytesIO(requests.get(profile_pix).content))
    print(type(img))
    img = np.array(img)
    cv2.imwrite('passport_image.jpg', img)
    json_info = clean_profile_information()
    print(json_info)
    # contact_data
    with open('profile.json', 'w') as file: 
            json.dump(json_info, file)
            print('profile dumb successful... ')
    

save_profile_info(page)

<class 'PIL.JpegImagePlugin.JpegImageFile'>
{'friend_count': 2, 'id': '100091362595291', 'name': 'Hamad Alsuwaidi', 'work': 'Add work\nDubai Electricity and Water Authority - DEWA\nShift Manager\nDubai, United Arab Emirates\nMore options', 'places lived': 'Abu Dhabi, United Arab Emirates', 'contact info': 'Edit\n+971 50 561 1160\nMobile\nhamad1076663@gmail.com\nEmail', 'basic info': 'Edit\nApril 11, 1998\nBirthday\nMale\nGender', 'other names': 'Add a nickname, a birth name...', 'relationship': 'Add a relationship status', 'family members': 'Add family member', 'about': 'Write about yourself', 'life events': '', 'mobile': '+971 50 561 1160', 'email': 'hamad1076663@gmail.com'}
profile dumb successful...

In [64]:
from facebook_scraper import get_posts


def load_posts(user_profile_name): 
    posts = []
    for post in get_posts(account=user_profile_name, extra_info=True, options={"comments":True, 'reactors':True}):
        posts.append(post)

    print('No Of Post : {}'.format(len(posts)))
    return posts

posts = load_posts(user_profile_name)

No Of Post : 6

In [65]:

raw_data = ['post_id', 'text', 'time', 'images_description', 'reactions', 'post_url']

raw_data_diction = {
    'post_id':[],
    'text': [], 
    'time': [], 
    'images_description': [],
    'reactions': [],
    'post_url':[]
}

raw_comment_diction={
    'post_id':[], 
    'commenter_name':[],
    'comment_time':[],
    'comment_text':[], 
    'replies':[]
}

for post in posts[:]:
    # print('--------')
    for raw in raw_data: 
        # print(post[raw])
        if post[raw] != []:
            raw_data_diction[raw].append(post[raw])
        else:
            raw_data_diction[raw].append('')
    
    
#   init comment table with replies
    for comments in post['comments_full']: 
        raw_comment_diction['post_id'].append(post['post_id'])
        
        if comments['comment_text'] != []:
            raw_comment_diction['comment_text'].append(comments['comment_text'])
        else:
            raw_comment_diction['comment_text'].append('no comment')

        # if comments['images_description'] != []:
        #     raw_comment_diction['images_description'].append(comments['images_description'])
        # else:
        #     raw_comment_diction['images_description'].append('no comment')

        
        if comments['replies'] != []:
            raw_comment_diction['replies'].append(''.join(comments['replies']))
        else: 
            raw_comment_diction['replies'].append(''.join(["no reply"]))

        raw_comment_diction['commenter_name'].append(comments['commenter_name'])
        raw_comment_diction['comment_time'].append(comments['comment_time'])

raw_comment_diction

{'post_id': ['118949597827126',
  '118949597827126',
  '118947407827345',
  '118944611160958',
  '118944611160958'],
 'commenter_name': ['Abdullah Al-Barhami',
  'Hamad Alsuwaidi',
  'Hamad Alsuwaidi',
  'Abdullah Al-Barhami',
  'Hamad Alsuwaidi'],
 'comment_time': [datetime.datetime(2023, 3, 29, 0, 0),
  datetime.datetime(2023, 3, 29, 0, 0),
  datetime.datetime(2023, 3, 29, 0, 0),
  datetime.datetime(2023, 3, 29, 0, 0),
  datetime.datetime(2023, 3, 29, 0, 0)],
 'comment_text': ['iOS , windows , Android',
  'window 7 is pretty much cool and simple to use',
  'not really but somewhere close',
  'I like python language',
  'java is so boring and difficult to learn, i will go for python'],
 'replies': ['no reply', 'no reply', 'no reply', 'no reply', 'no reply']}

In [66]:
import pandas as pd

post_table = pd.DataFrame(raw_data_diction)
post_table.head()

,post_id,text,time,images_description,reactions,post_url
0,119676867754399,,2023-04-09 20:03:00,,None,https://facebook.com/profile.php?id=1000913625...
1,118949597827126,Which operating system have you used before? P...,2023-04-09 05:25:00,[May be an image of phone and digital audio pl...,{'like': 2},https://facebook.com/profile.php?id=1000913625...
2,118947407827345,Have you been to this location or somewhere cl...,2023-04-09 05:22:00,[May be an image of 8 people and beach],{'like': 1},https://facebook.com/profile.php?id=1000913625...
3,118944611160958,"Which of the languages is suitable, difficult,...",2023-04-09 05:19:00,[May be a graphic of text that says '7 bmc Pyt...,{'like': 2},https://facebook.com/profile.php?id=1000913625...
4,117378127984273,"Grew up in Abu Dhabi, United Arab Emirates\nAp...",2023-04-07 00:00:00,,None,https://facebook.com/profile.php?id=1000913625...

In [67]:
comment_table = pd.DataFrame(raw_comment_diction)
comment_table.head()

,post_id,commenter_name,comment_time,comment_text,replies
0,118949597827126,Abdullah Al-Barhami,2023-03-29,"iOS , windows , Android",no reply
1,118949597827126,Hamad Alsuwaidi,2023-03-29,window 7 is pretty much cool and simple to use,no reply
2,118947407827345,Hamad Alsuwaidi,2023-03-29,not really but somewhere close,no reply
3,118944611160958,Abdullah Al-Barhami,2023-03-29,I like python language,no reply
4,118944611160958,Hamad Alsuwaidi,2023-03-29,"java is so boring and difficult to learn, i wi...",no reply

Post Data

In [68]:
import pandas as pd 
import numpy as np 
from nltk.corpus import stopwords
import string

# postdata = pd.read_csv('user_post_data.csv')
post_data = post_table[['post_id','text', 'images_description']]
post_data

st = stopwords.words('english')
post_data = post_data.replace([np.NAN, '[]', ''], 'no content')

def clean_data(data):
    data= ''.join([d.lower() for d in data if not d in string.punctuation])
    return data

post_data['text'] = post_data['text'].apply(lambda x: clean_data(x))
post_data['images_description'] = post_data['images_description'].apply(lambda x: clean_data(x))
post_data

,post_id,text,images_description
0,119676867754399,no content,no content
1,118949597827126,which operating system have you used before pl...,may be an image of phone and digital audio player
2,118947407827345,have you been to this location or somewhere cl...,may be an image of 8 people and beach
3,118944611160958,which of the languages is suitable difficult a...,may be a graphic of text that says '7 bmc pyth...
4,117378127984273,grew up in abu dhabi united arab emirates\napr...,no content
5,117376481317771,born on april 11 1998,no content

In [69]:
post_data.to_csv('user_post_data.csv', index=False)
comment_table.to_csv('comment_table.csv.', index=False)

In [70]:
import pandas as pd 

post_data = pd.read_csv('user_post_data.csv')
comment_table = pd.read_csv('comment_table.csv.')

Saving Comment an Post

Sentiment analyzer and probability score

In [71]:
import joblib
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import string

pt_stem = PorterStemmer()
stop_word = stopwords.words('english')

In [72]:

from nltk.tokenize import word_tokenize
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import json
import string
import joblib

pt_stem = PorterStemmer()
st = stopwords.words('english')

# cleaning text ===> removal of punctuation, stemming and stopword removal 
def clean_dataset(dataset):

    token_word = [word.lower() for word in word_tokenize(dataset)]
    clean_word = [token for token in token_word if not token in st]
    clean_word = ' '.join([cl_word for cl_word in clean_word if not cl_word in string.punctuation])

    return clean_word

# LOADING USER FACEBOOK PROFILE... 
def get_facebook_profile():
    with open('profile.json', 'r') as file: 
        data = json.load(file)
    return data


profile_dict = get_facebook_profile()
# print(profile_dict)


def personal_data_vulnerability_score(profile, datas):
    prof_data = []
    for k,v in profile.items():
        prof_data.append(str(v).lower())
        # print(v)
        

    count_data = ' '.join(prof_data)
    # print(count_data)

    probability_score = []
    # clean comement.. and post
    for data in datas: 
        # print(data)
        clean = clean_dataset(data).split()
        
    

        # clean user profile
        prof_data = clean_dataset(count_data).split()

        prob_count = 0
        for com in clean: 
            # print(com)
            if com.lower() in prof_data: 
                prob_count += 1

        if len(prof_data) == 0: 
            
            probability_score.append(0)
             
        else: 
            probility_count = prob_count/len(prof_data)
            probability_score.append(probility_count)
    
    return probability_score

# load model ....
model = joblib.load('naive_bayes_sentiment_analyzer_model.jb')
def sentiment_analyzer(text, model):
    # clean data
    clean_data = clean_dataset(text)

    # loading tfid model .... 
    tfid = joblib.load('tfidf_sentiment_vocab.pk')

    # vectorizing
    word_vector = tfid.transform([clean_data])

    # load_model
    sentiment_model = model
    # make prediction
    predict = sentiment_model.predict(word_vector.toarray())

    sent_string = ''

    if predict[0] == 0:
        sent_string = 'Negative'
    else: 
        sent_string = 'Postive'


    return sent_string, predict[0]  


def sentiment_score(texts, model):
    texts = [''.join(text) for text in texts]
    sentiments = []
    for text in texts: 
        # print('MY TEXT : ', text=='no reply')
        
        if text == 'no reply':
            sentiment = ('Neutral', 0.5)
            sentiments.append(sentiment)
        else:
            sentiment = sentiment_analyzer(text, model) 
            sentiments.append(sentiment) 
            
        
    # hello... 
    print(sentiments)
    return sentiments


# vulnerability score
_scores_text  = personal_data_vulnerability_score(profile_dict, post_data['text'].values)
_scores_image_text = personal_data_vulnerability_score(profile_dict, post_data['images_description'])  



# function to calculate probability score
def post_table_probability(_scores_text, _scores_image_text):
    post_data['text_score(%)'] = _scores_text
    post_data['images_description_score(%)'] = _scores_image_text
    final_score = [int(v[0] + v[1]) for v in zip(_scores_text , _scores_image_text)]
    post_data['final_score(%)'] = final_score

post_table_probability(_scores_text, _scores_image_text)
post_data


# adding sentiment column 
# post_data['text_sent'] = _sentiment_text 
post_data

,post_id,text,images_description,text_score(%),images_description_score(%),final_score(%)
0,119676867754399,no content,no content,0.000000,0.0,0
1,118949597827126,which operating system have you used before pl...,may be an image of phone and digital audio player,0.000000,0.0,0
2,118947407827345,have you been to this location or somewhere cl...,may be an image of 8 people and beach,0.000000,0.0,0
3,118944611160958,which of the languages is suitable difficult a...,may be a graphic of text that says '7 bmc pyth...,0.000000,0.0,0
4,117378127984273,grew up in abu dhabi united arab emirates\napr...,no content,0.192982,0.0,0
5,117376481317771,born on april 11 1998,no content,0.052632,0.0,0

Comment Data

In [73]:
# _scores  = personal_data_vulnerability_score(profile_dict, com['text'].values)
comment_table = comment_table[['post_id', 'comment_text', 'replies']]

comment_text_prob = personal_data_vulnerability_score(profile_dict, comment_table['comment_text'].values)
comment_reply_prob = personal_data_vulnerability_score(profile_dict, comment_table['replies'].values)

print(comment_text_prob, comment_reply_prob)

def comment_table_probability(comment_text_prob, comment_reply_prob):
    print('deburg')
    comment_table['comment_text(%)'] = comment_text_prob
    comment_table['replies(%)'] = comment_reply_prob
    final_score = [int((v[0] + v[1])*100) for v in zip(comment_text_prob , comment_reply_prob)]
    comment_table['final_score(%)'] = final_score

# probability score
comment_table_probability(comment_text_prob, comment_reply_prob)

# sentiment
_sentiment_com_text  = sentiment_score(comment_table['comment_text'].values, model)
_sentiment_reply_text  = sentiment_score(comment_table['replies'].values, model)

# adding sentiment column 
comment_table['comment_sent'] = _sentiment_com_text 
comment_table['reply_sent'] = _sentiment_reply_text 

comment_table

[0.0, 0.0, 0.0, 0.0, 0.0] [0.0, 0.0, 0.0, 0.0, 0.0]
deburg
[('Postive', 1), ('Postive', 1), ('Postive', 1), ('Postive', 1), ('Negative', 0)]
[('Neutral', 0.5), ('Neutral', 0.5), ('Neutral', 0.5), ('Neutral', 0.5), ('Neutral', 0.5)]

,post_id,comment_text,replies,comment_text(%),replies(%),final_score(%),comment_sent,reply_sent
0,118949597827126,"iOS , windows , Android",no reply,0.0,0.0,0,"(Postive, 1)","(Neutral, 0.5)"
1,118949597827126,window 7 is pretty much cool and simple to use,no reply,0.0,0.0,0,"(Postive, 1)","(Neutral, 0.5)"
2,118947407827345,not really but somewhere close,no reply,0.0,0.0,0,"(Postive, 1)","(Neutral, 0.5)"
3,118944611160958,I like python language,no reply,0.0,0.0,0,"(Postive, 1)","(Neutral, 0.5)"
4,118944611160958,"java is so boring and difficult to learn, i wi...",no reply,0.0,0.0,0,"(Negative, 0)","(Neutral, 0.5)"

In [74]:
post_data.to_csv('user_post_data.csv', index=False)
comment_table.to_csv('comment_table.csv', index=False)

In [75]:
import pandas as pd 

pt = pd.read_csv('comment_table.csv')
pt

,post_id,comment_text,replies,comment_text(%),replies(%),final_score(%),comment_sent,reply_sent
0,118949597827126,"iOS , windows , Android",no reply,0.0,0.0,0,"('Postive', 1)","('Neutral', 0.5)"
1,118949597827126,window 7 is pretty much cool and simple to use,no reply,0.0,0.0,0,"('Postive', 1)","('Neutral', 0.5)"
2,118947407827345,not really but somewhere close,no reply,0.0,0.0,0,"('Postive', 1)","('Neutral', 0.5)"
3,118944611160958,I like python language,no reply,0.0,0.0,0,"('Postive', 1)","('Neutral', 0.5)"
4,118944611160958,"java is so boring and difficult to learn, i wi...",no reply,0.0,0.0,0,"('Negative', 0)","('Neutral', 0.5)"

In [76]:
recommendation_holder = []
for index in pt.index:
    # print(pt.iloc[index]['text'])
    score = pt.iloc[index]['final_score(%)']
    recommendation_holder.append(score)

Email and Contact Detection

In [38]:
import re

def contact_email_detector(posts, is_post=True):
    contact_diction = {'post_id':[], 'contacts':[] , 'emails':[],'contact_len':[], 'email_len':[]}
    counter = 0
    for post in posts: 
        # post = post.split(' ')
        # print(post)
        counter = counter + 1
        email_pattern = re.compile(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b')
        uai_phone_pattern = r"\+971 [2355679]\d{1} \d{7}|\+971[2355679]\d{1}\d{7}"

        matches = re.findall(uai_phone_pattern, post)
        contact_diction['contacts'].append(matches)
        contact_diction['contact_len'].append(len(matches))

        emails =  re.findall(email_pattern, post)
        contact_diction['emails'].append(emails)
        contact_diction['email_len'].append(len(emails))

        if is_post:
            contact_diction['post_id'].append('Post {}'.format(counter))
        else : 
            contact_diction['post_id'].append('Comment {}'.format(counter))


        

    return contact_diction

In [47]:
import pandas as pd
cm = pd.read_csv('user_post_data.csv')
for text in cm.text.values: 
    print(text)


table = contact_email_detector(cm.text.values)
pd.DataFrame(table)

no content
which operating system have +971508282737 you used before please let us know your experience with them
have you been to this location or somewhere close before drop specific address and purpose of visit
which of the languages is suitable difficult and easy for you to use why do you like or hate the language
grew up in abu dhabi united arab emirates
april 7 in abu dhabi united arab emirates
born on april 11 1998

  post_id         contacts emails  contact_len  email_len
0  Post 1               []     []            0          0
1  Post 2  [+971508282737]     []            1          0
2  Post 3               []     []            0          0
3  Post 4               []     []            0          0
4  Post 5               []     []            0          0
5  Post 6               []     []            0          0

In [33]:
import pandas as pd
cm = pd.read_csv('comment_table.csv')
for text in cm.comment_text.values: 
    print(text)


table = contact_email_detector(cm.comment_text.values)
pd.DataFrame(table)

iOS , windows , Android hamadalsuw@gmail.com
window 7 is pretty much cool and simple to use
not really but +971508282737 somewhere close
I like python language
java is so boring and difficult to learn, i will go for python

  post_id contacts                  emails  contact_len  email_len
0  Post 1       []  [hamadalsuw@gmail.com]            0          1
1  Post 2       []                      []            0          0
2  Post 3       []                      []            0          0
3  Post 4       []                      []            0          0
4  Post 5       []                      []            0          0

In [37]:
text = '+971508282737'
uai_phone_pattern = r"\+971 [2355679]\d{1} \d{7}|\+971[2355679]\d{1}\d{7}"


matches = re.findall(uai_phone_pattern, text)
matches

['+971508282737']

In [6]:
punc = '!"#$%&\'()*,-/:;<=>?@[\\]^_`{|}~'

['!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~']

DATABASE UPDATING...

In [89]:
import pandas as pd 
import sqlalchemy


# creating engine 
engine = sqlalchemy.create_engine('sqlite:///social_crapper.db')
connection = engine.connect()

credential_table  = pd.read_sql_table('credential_table', connection) 
credential_table

,friend_count,id,name,work,places lived,contact info,basic info,other names,relationship,family members,about,life events,mobile,email
0,2,100091362595291,Hamad Alsuwaidi,Add work\nDubai Electricity and Water Authorit...,"Abu Dhabi, United Arab Emirates",Edit\n+971 50 561 1160\nMobile\nhamad1076663@g...,"Edit\nApril 11, 1998\nBirthday\nMale\nGender","Add a nickname, a birth name...",Add a relationship status,Add family member,Write about yourself,,+971 50 561 1160,hamad1076663@gmail.com

UPDATA CREDENTIAL DATA

In [92]:
import json
import pandas as pd

with open('credentials.json', 'r') as file: 
    credentials = json.load(file)

if credentials['username'] != "": 
    cre_table = pd.DataFrame(credentials, index=[0])
    # print(cre_table)

    cre_table.to_sql(
    name="credential_table", 
    con=connection, 
    if_exists="replace", 
    index=False
    )
    
    connection.commit()
    print("update successful 1")
else: 
    cre_table = pd.DataFrame(credentials, index=[0])
    # print(cre_table)

    cre_table.to_sql(
    name="credential_table", 
    con=connection, 
    if_exists="replace", 
    index=False
    )
    
    connection.commit()
    print("update successful 2")
    print("Credentials Invalid")

update successful 1

CREATING POST TABLE

In [84]:
import pandas as pd 
com_table = pd.read_csv('user_post_data.csv')
com_table.to_sql(
    name="post_table", 
    con=connection, 
    if_exists="replace", 
    index=False
)
connection.commit()

CREATING COMMENT TABLE

In [85]:
import pandas as pd 
com_table = pd.read_csv('comment_table.csv')
com_table.to_sql(
    name="comment_table", 
    con=connection, 
    if_exists="replace", 
    index=False
)
connection.commit()

UPDATING PROFILE DATA

In [86]:
import json
import pandas as pd

with open('profile.json', 'r') as file: 
    profil_j = json.load(file)

prof_table = pd.DataFrame(profil_j, index=[0])

prof_table.to_sql(
name="user_profile", 
con=connection, 
if_exists="replace", 
index=False
)

connection.commit()
print("update successful")

prof_table

update successful

,friend_count,id,name,work,places lived,contact info,basic info,other names,relationship,family members,about,life events,mobile,email
0,2,100091362595291,Hamad Alsuwaidi,Add work\nDubai Electricity and Water Authorit...,"Abu Dhabi, United Arab Emirates",Edit\n+971 50 561 1160\nMobile\nhamad1076663@g...,"Edit\nApril 11, 1998\nBirthday\nMale\nGender","Add a nickname, a birth name...",Add a relationship status,Add family member,Write about yourself,,+971 50 561 1160,hamad1076663@gmail.com

In [87]:
# DISCONNECTING 
connection.close()