In [19]:
import pandas as pd
import cv2
import urllib
import numpy as np
from matplotlib import pyplot as plt

In [8]:
label = pd.read_csv('labels.csv')
label.head(3)

,Unnamed: 0,image_name,text_ocr,text_corrected,humour,sarcasm,offensive,motivational,overall_sentiment
0,0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,hilarious,general,not_offensive,not_motivational,very_positive
1,1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,The best of #10 YearChallenge! Completed in le...,not_funny,general,not_offensive,motivational,very_positive
2,2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,Sam Thorne @Strippin ( Follow Follow Saw every...,very_funny,not_sarcastic,not_offensive,not_motivational,positive

In [9]:
ref = pd.read_csv('reference.csv')
ref.head(3)

,Unnamed: 0,original_name,image_url,image_name
0,0,10_year_2r94rv.jpg,https://i.imgflip.com/2r94rv.jpg,image_1.jpg
1,1,10_year_10-year-challenge_1547788782.jpeg,https://spiderimg.amarujala.com/assets/images/...,image_2.jpeg
2,2,10_year_10yearchallenge-5c75f8b946e0fb0001edc7...,https://www.lifewire.com/thmb/8wNfd94_meE9X2cp...,image_3.JPG

In [10]:
label = label[['image_name', 'text_corrected']]
label.head()

     image_name                                     text_corrected
0   image_1.jpg  LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...
1  image_2.jpeg  The best of #10 YearChallenge! Completed in le...
2   image_3.JPG  Sam Thorne @Strippin ( Follow Follow Saw every...
3   image_4.png              10 Year Challenge - Sweet Dee Edition
4   image_5.png  10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...

In [12]:
ref = ref[['image_url', 'image_name']]
ref.head()

                                           image_url    image_name
0                   https://i.imgflip.com/2r94rv.jpg   image_1.jpg
1  https://spiderimg.amarujala.com/assets/images/...  image_2.jpeg
2  https://www.lifewire.com/thmb/8wNfd94_meE9X2cp...   image_3.JPG
3  https://pics.conservativememes.com/10-year-cha...   image_4.png
4  https://pics.me.me/10-year-challenge-with-no-f...   image_5.png

In [13]:
dataset = pd.concat([ref, label.drop(columns='image_name')], axis=1)
dataset.head()

,image_url,image_name,text_corrected
0,https://i.imgflip.com/2r94rv.jpg,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...
1,https://spiderimg.amarujala.com/assets/images/...,image_2.jpeg,The best of #10 YearChallenge! Completed in le...
2,https://www.lifewire.com/thmb/8wNfd94_meE9X2cp...,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...
3,https://pics.conservativememes.com/10-year-cha...,image_4.png,10 Year Challenge - Sweet Dee Edition
4,https://pics.me.me/10-year-challenge-with-no-f...,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...

In [185]:
key_index = ['pray', 'spirit', 'jesus', 'heaven', 'angel' , 'christian' , 'divine', 'sunday', 'bible', 'church' 'sermon',  "Divine",
    "blessings","amen", "miracles", "halos", "praise", "hallelujah", "sermon", "angelic", "sacrament",
    "grace", "scriptures", "messiah",  "salvation", "gabriel", "resurrection",  "parables",  "faithful",  "commandment",  "redemption" , 
            "eternal","heavenly","sacrifice",  "worship", "guidance",  "savior", "devotion","biblical", "spiritual","benediction", "repentance", "covenant",
    "testament", "devine", "ministry", "prayer", "baptism", "communion", "messiah", "pilgrimage", 'money', 'grace', 'payment', 'repost']

def get_extract(dataset, key_search):
    memes = []

    # searching for a key word in the dataset sample
    for text in dataset.text_corrected.to_list():
        for key in key_search:
            if key in str(text).lower():
                memes.append(text)
                
    memes = list(set(memes))

    # extract index 
    indexes = []
    for m in memes:
        d = dataset[dataset.text_corrected  == m]
        # print(d.index[0])
        indexes.append(d.index[0])


    # generate a dictionary data based on index
    data_diction={
    'url': [], 
    'img_name':[], 
    'memes':[]
    }
    for key in indexes: 
        data = dataset.iloc[dataset.index[key]]
        data_diction['url'].append(data.image_url)
        data_diction['img_name'].append(data.image_name)
        data_diction['memes'].append(data.text_corrected)
            
    return data_diction


dt = get_extract(dataset, key_index)
new_d = pd.DataFrame(dt)
new_d.head()

,url,img_name,memes
0,https://i.imgur.com/flqeDoU.png,image_6149.png,This is Bill. Bill is on Facebook. Bill doesn'...
1,https://www.soumo.eu/wp-content/uploads/2018/0...,image_2511.jpg,TOP 4 WISHES: 1. To earn money without working...
2,https://i2.wp.com/www.wehuntedthemammoth.com/w...,image_1527.jpg,ABORTED GF Sorry I couldn't be there for you a...
3,https://pics.astrologymemes.com/modi-makes-bla...,image_2773.png,MODI MAKES BLACK mm. MONEY DISAPPEAR $42602 RE...
4,https://pics.loveforquotes.com/doesnt-believe-...,image_3620.png,Doesn't believe in Climate Change Believes in ...

In [184]:
new_d.shape

(139, 3)

In [183]:
for m in new_d.memes: 
    if 'repost' in str(m).lower():
        print(m)

This is Bill. Bill is on Facebook. Bill doesn't repost stupid memes of himself.
Doesn't believe in Climate Change Believes in Noah's Ark #pence #fuckpence #impeach #idiot #lol #whitehouse #new #inthecloset #funny #memes #sexist #creep #gross #science #mother @RepostIt_app
when you see a meme about Stefán Karl and it's a repost but you still upvote anyway because it's Stefán The hardest choices require the strongest of wills
this is the oscar face it happens only once every 5000 years repost in the next 20 seconds or you will never have oscar again
AS SOON AS THEM ILLEGAL DREAMERS IS GONE IM GONNA GET ME ONE OF THEM S TECHNOLOGY JOBS THEY STOLE FROM ME imgflip.com No HumanBeinglsllegal :: : •:•: Repost @goodgodabove
R.I.P I just died. If you dont care: Stop reading. If you would care: Like this pic. If you would miss me: Comment a If your not scared: Repost & See Who your real friends are...
When you were the weird goth friend but 10+ years of eyeliner practice paid off Marriak Yasss wings so sharp they cut a hoe repost & gofollow my girl @pearlsuicide
When people repost your meme so many times that it changes resolution from 1080p to 140p Look how they massacred my boy. *crying in godfather*

In [182]:
for d in new_d.memes: 
    if 'money' == str(d).lower(): 
        print(d)

In [186]:
# new_d['img_name'] = [for ]
# im = [im.split('.')[-1] for im  in new_d.img_name]
img_names = []
for idx in range(len(new_d.img_name)): 
    ext = new_d.img_name[idx].split('.')[-1]
    name = 'image_{}.{}'.format(idx, ext)
    img_names.append(name)

new_d['new_image_name'] = img_names
new_d.head()

,url,img_name,memes,new_image_name
0,https://i.imgur.com/flqeDoU.png,image_6149.png,This is Bill. Bill is on Facebook. Bill doesn'...,image_0.png
1,https://www.soumo.eu/wp-content/uploads/2018/0...,image_2511.jpg,TOP 4 WISHES: 1. To earn money without working...,image_1.jpg
2,https://i2.wp.com/www.wehuntedthemammoth.com/w...,image_1527.jpg,ABORTED GF Sorry I couldn't be there for you a...,image_2.jpg
3,https://pics.astrologymemes.com/modi-makes-bla...,image_2773.png,MODI MAKES BLACK mm. MONEY DISAPPEAR $42602 RE...,image_3.png
4,https://pics.loveforquotes.com/doesnt-believe-...,image_3620.png,Doesn't believe in Climate Change Believes in ...,image_4.png

In [188]:
import os 
for idx in range(len(new_d.img_name)):
    url = os.path.join('images',new_d.img_name[idx])
    readIm = cv2.imread(url)
    cv2.imwrite(os.path.join('new_image', new_d.new_image_name[idx]), readIm)

print('operation complete')

operation complete

In [192]:
mm_dd = new_d[['memes', 'new_image_name']]
mm_dd.to_csv('sample_meme.csv')

In [173]:
key_index = ['pray', 'spirit', 'jesus', 'heaven', 'angel' , 'christian' , 'divine', 'sunday', 'bible', 'church' 'sermon',  "Divine",
    "blessings","amen", "miracles", "halos", "praise", "hallelujah", "sermon", "angelic", "sacrament",
    "grace", "scriptures", "messiah",  "salvation", "gabriel", "resurrection",  "parables",  "faithful",  "commandment",  "redemption" , 
            "eternal","heavenly","sacrifice",  "worship", "guidance",  "savior", "devotion","biblical", "spiritual","benediction", "repentance", "covenant",
    "testament", "devine", "ministry", "prayer", "baptism", "communion", "messiah", "pilgrimage", 'money']
memes = []

for text in dataset.text_corrected.to_list():
    for key in key_index:
        if key in str(text).lower():
            memes.append(text)
memes = list(set(memes))

            

print(len(memes))
memes[:10]

130

['TOP 4 WISHES: 1. To earn money without working 2. To be smart without studying 3. To love without being hurt. 4. To eat without getting fat.',
 "ABORTED GF Sorry I couldn't be there for you anon my mom had other plans hey! we would have been born on the same day we're like twins! you're not eating healthy  and you look so sad :( would have liked to have lot of kids with you...I could have cooked you a hot meal.. i'll be praying for you",
 'MODI MAKES BLACK mm. MONEY DISAPPEAR $42602 RESERVE BANK OF INDIA 1000 TER GU 51 442602 20E 02494 3 H a foreferes se RESERVE BANK OF INTHA G REEN CENTRAL GOVERN 500 BANS RS500',
 'SACRIFICED HIS WEALTH FOR COUNTRY SACRIFICED COUNTRY FOR HER WEALTH',
 'Follow Andrew J Abernathy ( Follow ) - @ajabernathy WHAT COULD HAVE TURNED THE TABLES?! shutterstock nutterstock shuesick shutterstock HALOS shutterstock 2:35 PM - 20 Nov 2017',
 '*if Jesus had a girlfriend* "I just find it funny how you "died" for 3 days... I must look stupid huh?" POSLO.com The Internet Scavengers',
 'I PRAY TO OUR LORD AND SAVIOUR TO BLESS THIS MELON imgflip.com',
 'Great grandmother has been accidentally praying to a Lord of the Rings figurine for years INDY100.COM',
 'JESUS AND THE COLONEL MC memecenter.com/greentree',
 'me after taking one feminist theory class -Amen -Amen A-woman']

In [143]:
# indexes = []
# for m in memes:
#     d = dataset[dataset.text_corrected  == m]
#     # print(d.index[0])
#     indexes.append(d.index[0])

# print(indexes)

In [142]:
# data_diction={
#     'url': [], 
#     'img_name':[], 
#     'memes':[]
# }
# for key in indexes: 
#     data = dataset.iloc[dataset.index[key]]
#     data_diction['url'].append(data.image_url)
#     data_diction['img_name'].append(data.image_name)
#     data_diction['memes'].append(data.text_corrected)

# data_diction.keys()

In [167]:
import os 
url = os.path.join('images', dataset.image_name[0])
cv2.imread(url)

array([[[ 96,  98, 128],
        [ 96,  98, 128],
        [ 96,  98, 128],
        ...,
        [ 99,  97,  89],
        [ 98,  96,  88],
        [ 96,  97,  88]],

       [[ 97,  99, 129],
        [ 97,  99, 129],
        [ 97,  99, 129],
        ...,
        [ 99,  97,  89],
        [ 98,  96,  88],
        [ 96,  97,  88]],

       [[ 97,  99, 129],
        [ 97,  99, 129],
        [ 97,  99, 129],
        ...,
        [ 99,  97,  89],
        [ 98,  96,  88],
        [ 96,  97,  88]],

       ...,

       [[ 55,  78, 146],
        [ 53,  79, 145],
        [ 49,  77, 141],
        ...,
        [ 47,  74, 138],
        [ 47,  74, 138],
        [ 46,  73, 137]],

       [[ 55,  77, 155],
        [ 54,  78, 154],
        [ 51,  78, 152],
        ...,
        [ 48,  75, 139],
        [ 48,  75, 139],
        [ 47,  74, 138]],

       [[ 52,  74, 156],
        [ 49,  74, 154],
        [ 47,  73, 150],
        ...,
        [ 48,  75, 139],
        [ 48,  75, 139],
        [ 48,  75, 139]]], dtype=uint8)

In [60]:
# dataset.image_url[3]

In [58]:

# def get_image_online(img):

#     try:
#         header= {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) ' 
#           'AppleWebKit/537.11 (KHTML, like Gecko) '
#           'Chrome/23.0.1271.64 Safari/537.11',
#           'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
#           'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
#           'Accept-Encoding': 'none',
#           'Accept-Language': 'en-US,en;q=0.8',
#           'Connection': 'keep-alive'}
    
#         req = urllib.request.Request(url=img, headers=header) 
#         image = urllib.request.urlopen(req).read()
#         image = np.asarray(bytearray(image), dtype='uint8')
#         image = cv2.imdecode(image, cv2.IMREAD_COLOR)
#         # print(image.shape)
#         # image  = cv2.resize(image, (400, 400))
#         # plt.imshow(image)
        
#         return image
        
#     except Exception:
#         pass
        
    

# img = dataset.image_url[3]
# im = get_image_online(img)

In [62]:
# plt.imshow(im)