#  SIMPLE PYTHON DATA MINING SCRIPT FOR JAMB STUDENT

In [12]:
from selenium import webdriver
import requests
from bs4 import BeautifulSoup

In [16]:
driver= webdriver.Chrome()

def fetch_info(reg_number):
    driver.get('https://efacility.jamb.gov.ng/PrintExaminationSlip') 
    reg = driver.find_element('id' , "txtRegNumber")
    reg.send_keys(reg_number)

    # submitting form
    # reg.submit()
    sb = driver.find_element('id' , "lnkSearch")

    sb.click()
    # driver.refresh()
    # print('WEB PAGE ', driver.current_url)


    # getting data from html document
    print('fetching content')
    url = f'https://efacility.jamb.gov.ng/TempFiles/Main_Examination_Slip_{reg_number}.htm'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    data = soup.find_all('label')

    return data , len(data)

In [17]:
fetch_info('value')

Complete :  1
fetching content

([], 0)

In [1]:
import pandas as pd 

data = pd.read_csv('jamb_data.csv')
data

,RG_NUM,RG_CANDNAME,RG_SEX,STATE_NAME,RG_AGGREGATE,CO_NAME,PUTMESCORE,AdmissionStatus,State_Name1,Instname,LGA_Name
0,202211484000JA,Ifatanmi Kikelomo Oluwafunke,F,ONDO,138,Nursing/Nursing Science,NaN,Not Admitted,ONDO,"AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE",OKITIPUPA
1,202211363179JA,Awotongha Golubo Wisdom,M,BAYELSA,137,Information & Communication Technology,NaN,Not Admitted,BAYELSA,"AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE",ERN-IJAW
2,202210974254GF,Ayandare Micheal Segun,M,OYO,132,Theatre Arts,NaN,Not Admitted,OYO,"AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE",AKINYELE
3,202210953291JF,Ozogoro Arikeade Ifedolapo,F,ONDO,131,Economics,NaN,Not Admitted,ONDO,"AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE",AKOKO-SOUTH

In [2]:
row , col  = data.shape
print('Total data is : ', row)

Total data is :  4

In [3]:
 data.columns

Index(['RG_NUM', 'RG_CANDNAME', 'RG_SEX', 'STATE_NAME', 'RG_AGGREGATE',
       'CO_NAME', 'PUTMESCORE', 'AdmissionStatus', 'State_Name1', 'Instname',
       'LGA_Name'],
      dtype='object')

In [4]:
candidate_name = data["RG_CANDNAME"].values
candidate_reg = data["RG_NUM"].values
candidate_name

array(['Ifatanmi Kikelomo Oluwafunke', 'Awotongha Golubo Wisdom',
       'Ayandare Micheal Segun', 'Ozogoro Arikeade Ifedolapo'],
      dtype=object)

In [5]:
names = list(candidate_name)
regs = list(candidate_reg)
regs

['202211484000JA', '202211363179JA', '202210974254GF', '202210953291JF']

# validating original data with mined data ....

In [83]:
# simulating a simple demo instance 
reg = regs[0]
name = names[0]


# helper method to valide content compatibility 
def check_content_matching(o_reg='data_reg' , o_name='d_name' , m_reg='mine_reg' , m_name = 'm_name'): 
#   : o_reg / the import jamb student registration number 
#   : o_name / the import jamb student name 
#   : m_reg / the mined student registration number 
#   : m_name / the mined student name 
    validate = False 
    if (m_reg.upper().strip() == o_reg.upper().strip() and m_name.lower() in o_name.lower().split()):
        validate = True
    else : 
        validate = False
        
    return validate ; 

valid = check_content_matching(reg , name , '202211484000JA', 'KIKeLOMO')

In [113]:

# creating new dataframe using existing attribute with additional attribute.... 
import pandas as pd
def create_dataframe(dataframe,  add=''):
    attributes = []

    for attr in dataframe.columns: 
        attributes.append(attr)
    if add != '':
        attributes.append(add)

    print(attributes)
    df = pd.DataFrame(columns=attributes)
    return df , attributes
    
df , _ = create_dataframe(data, 'Contact')

df

def add_row(old_table , new_table, m_reg = ''):
    
    if m_reg != '':
        d = old_table[old_table[old_table.columns[0]] == m_reg]
        tem_value = []
        for value in d.values:
            tem_value.append(value)
        tem_value.append(tel)
        
        new_table.iloc(len(new_table)) = tem_value
        new_table.to_csv('generate_record.csv')
        retun new_table
        
        
# add_row(data, df, '202211484000JA')
    
# def append_new_record():
#     pass

['RG_NUM', 'RG_CANDNAME', 'RG_SEX', 'STATE_NAME', 'RG_AGGREGATE', 'CO_NAME', 'PUTMESCORE', 'AdmissionStatus', 'State_Name1', 'Instname', 'LGA_Name', 'Contact']

Empty DataFrame
Columns: [RG_NUM, RG_CANDNAME, RG_SEX, STATE_NAME, RG_AGGREGATE, CO_NAME, PUTMESCORE, AdmissionStatus, State_Name1, Instname, LGA_Name, Contact]
Index: []

In [ ]:
# regs = ['202211484000JA', '202211363179JA', '202210974254GF']
# regs = ['202211484000JA']

for reg in regs:
    print()
    print('=========================')
    print('       START MINING      ')
    print('=========================')

    data , lenght = fetch_info(reg)
    if lenght != 0 : 
        # printing data for confirmation
        surname = data[1].get_text()
        firstname = data[2].get_text()
        othername = data[4].get_text()
        tel = data[12].get_text()
        reg_number = data[15].get_text()

        print('Surname : ' , surname)
        print('Fist Name : ', firstname)
        print('Other Name : ',  othername)
        print('Telephone : ' , tel)
        print('Registion Number : ' , reg_number)


        print('=========================')
        print('         END MINING      ')
        print('=========================')

#  COMBINING ALL CODE INTO A SINGLE SCRIPT

In [4]:
#     =====================================================================================   #
#                                       FIRST SECTION CODE                                    #
#     =====================================================================================   #

# IMPORTING IMPORTANT MODULE..... 
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import pandas as pd

# IMPORTING ORIGINAL DATA 
jamb_data = pd.read_csv('jamb_data.csv')

# GETTING ATTRIBUTE FROM ORIGINAL DATA
candidate_name = jamb_data["RG_CANDNAME"].values
candidate_reg = jamb_data["RG_NUM"].values
names = list(candidate_name)
regs = list(candidate_reg)
print(names)
print(regs)

# GENERATING NEW DATAFRAME
gen_df = pd.DataFrame()
    
try:
    gen_df = pd.read_csv('generate_record.csv', index=False)
except Exception: 
    pass

def create_dataframe(dataframe,  add=''):
    attributes = []

    for attr in dataframe.columns: 
        attributes.append(attr)
    if add != '':
        attributes.append(add)

    df = pd.DataFrame([] , columns=attributes)

    return df , attributes


if gen_df.empty:
    gen_df , _ = create_dataframe(jamb_data, 'Contact')

['Ifatanmi Kikelomo Oluwafunke', 'Awotongha Golubo Wisdom', 'Ayandare Micheal Segun', 'Ozogoro Arikeade Ifedolapo']
['202211484000JA', '202211363179JA', '202210974254GF', '202210953291JF']

In [5]:
#     =====================================================================================   #
#                                HELPER METHOD FOR SECTION TWO                                #
#     =====================================================================================   #



# helper method to valide content compatibility 

def check_content_matching(o_reg='data_reg' , o_name='d_name' , m_reg='mine_reg' , m_name = 'm_name'): 
    
    #   : o_reg / the import jamb student registration number 
    #   : o_name / the import jamb student name 
    #   : m_reg / the mined student registration number 
    #   : m_name / the mined student name 

    validate = False 
    if (m_reg.upper().strip() == o_reg.upper().strip() and m_name.lower() in o_name.lower().split()):
        validate = True
    else : 
        validate = False
    return validate ; 

# helper method to had new row to the new table
def add_row(old_table , new_table, tel='',  m_reg = ''):
    
    if m_reg != '':
        d = old_table[old_table[old_table.columns[0]] == m_reg]
        old_val = d.values
#         print(old_val.flatten())
        temp_value = []
        for value in list(old_val.flatten()):
            temp_value.append(value)

#         print('TEL:' , tel)

        if tel != '':
            temp_value.append(str(tel))
            
            print(temp_value)
            new_table.loc[len(new_table)] = temp_value
            new_table.to_csv('generate_record.csv')

            return new_table
                
# add_row(jamb_data, gen_df , tel, reg_number)

In [7]:
#     =====================================================================================   #
#                                       SECOND SECTION CODE                                   #
#     =====================================================================================   #


# NAVIGATING THE WEB BROWSER USING THE STUDENT REGISTRATION NUMBER

driver= webdriver.Chrome()

def fetch_info(reg_number):
    driver.get('https://efacility.jamb.gov.ng/PrintExaminationSlip') 
    reg = driver.find_element('id' , "txtRegNumber")
    reg.send_keys(reg_number)

    # submitting form
    # reg.submit()
    sb = driver.find_element('id' , "lnkSearch")

    sb.click()
    # driver.refresh()
    # print('WEB PAGE ', driver.current_url)


    # getting data from html document
    print('fetching content')
    url = f'https://efacility.jamb.gov.ng/TempFiles/Main_Examination_Slip_{reg_number}.htm'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    data = soup.find_all('label')

    return data , len(data)


#  scraping through web for contact 

for index in range(len(regs)):
    reg = regs[index]
    name = names[index]
    
    print()
    print('===================================================')
    print(f'         START MINING   FOR :  {reg}              ')
    print('===================================================')

    data , lenght = fetch_info(reg)
    if lenght != 0 : 
        # printing data for confirmation
        surname = data[1].get_text()
        firstname = data[2].get_text()
        othername = data[4].get_text()
        tel = data[12].get_text()
        reg_number = data[15].get_text()

        print('Surname : ' , surname)
        print('Fist Name : ', firstname)
        print('Other Name : ',  othername)
        print('Telephone : ' , tel)
        print('Registion Number : ' , reg_number)
        
        
        valid = check_content_matching(reg, name , reg_number, surname)
        
        if valid : 
            print('                           STUDENT CONFIRMED... ')
            add_row(jamb_data, gen_df , tel, reg_number)
            
        print('==================================================')
        print('              END MINING                          ')
        print('==================================================')

===================================================
         START MINING   FOR :  202211484000JA
===================================================
fetching content
Surname :  Ifatanmi
Fist Name :  Oluwafunke
Other Name :  Kikelomo
Telephone :  07054333918
Registion Number :  202211484000JA
                           STUDENT CONFIRMED...
['202211484000JA', 'Ifatanmi Kikelomo Oluwafunke', 'F', 'ONDO', 138, 'Nursing/Nursing Science', nan, 'Not Admitted', 'ONDO', 'AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE', 'OKITIPUPA', '07054333918']
==================================================
              END MINING
==================================================

===================================================
         START MINING   FOR :  202211363179JA
===================================================
fetching content
Surname :  Awotongha
Fist Name :  Wisdom
Other Name :  Golubo
Telephone :  08106486817
Registion Number :  202211363179JA
                           STUDENT CONFIRMED...
['202211363179JA', 'Awotongha Golubo Wisdom', 'M', 'BAYELSA', 137, 'Information & Communication Technology', nan, 'Not Admitted', 'BAYELSA', 'AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE', 'ERN-IJAW', '08106486817']
==================================================
              END MINING
==================================================

===================================================
         START MINING   FOR :  202210974254GF
===================================================
fetching content

===================================================
         START MINING   FOR :  202210953291JF
===================================================
fetching content
Surname :  Ozogoro
Fist Name :  Ifedolapo
Other Name :  Arikeade
Telephone :  08106682955
Registion Number :  202210953291JF
                           STUDENT CONFIRMED...
['202210953291JF', 'Ozogoro Arikeade Ifedolapo', 'F', 'ONDO', 131, 'Economics', nan, 'Not Admitted', 'ONDO', 'AFE BABALOLA UNIVERSITY, ADO-EKITI, EKITI STATE', 'AKOKO-SOUTH', '08106682955']
==================================================
              END MINING
==================================================